@-moz-document domain("pku.edu.cn") {
/*# PKU Art*/
	/*## 前言*/
	/*	作为一名 PKUer ，我从入学开始就对教学网的样式适应不来，这做的真的太丑了！这怎么会让人有学习的动力呢？！我为什么老摸鱼？不就是因为这教学网让我看了就不想学习吗！（震声*/
	/*	这种不满终于这个周四爆发了。我看着又土又老的编程网格，再也忍不下去了，正好周五加周末没啥事，于是开始快乐地在图书馆摸鱼（其实只有最后看到成果的时候才快乐，期间调各种样式啊选择器啊的时候让我简直要吐血，好多知识和语法还是边用边学的），爆肝出了编程网格、IAAA登录页、教学网大部分页面的CSS。*/
	/*	我真的很想吐槽那用 Table 搭出来的编程网格、大黑框顶头上的教学网，还有那设计简直离天下之大谱、让我甚至真的想问就这还注册专利吗的成绩页面（它居然还用iframe套娃套了两层！），但最终，我还是完成了。*/
	/*	这就是和我的另外一个样式 Baidu Art （打广告：这是一个我高二折腾出来并用到现在的好看样式）类似取名的 PKU Art 的诞生了。*/
	/*	现在想想，两天的时间换未来纪念的视觉快感，也算是值辽！*/
	
	/*## 提示*/
	/*	* 作者非专业前端工作人员，不保证该样式在任何设备、浏览器上的兼容性，但如果你遇到问题，可以在 Github 提请 Issue，我也会不定期更新新的 P 大相关网页（咕？*/
	/*	* 出于美观和实用性考虑，本样式屏蔽了大量我认为不那么重要的网页元素，如果你偶然发现自己要用的一个功能找不到了，可以暂时关闭本样式的应用*/
	/*	* 本样式通过外部挂载 CSS 应用，请确保你先装好了相应的浏览器插件（Safari使用Cascadea，Chrome或同内核浏览器使用Stylish插件）*/
	/*	* 有任何技术交流问题，可以通过 Github Issue 联系我，但我不一定会及时看，如果是想交流技术或者帮我完善的好心人，可以加我微信（和 Github 同名）*/
		
	/*## 插件下载：*/
	/*### Cascadea（For Safari）*/
	/** App Store（18r）： https://apps.apple.com/cn/app/cascadea/id1432182561*/
	/** MacWk： https://macwk.com/soft/cascadea*/
	
	/*### Stylish（For Chrome）*/
	/** Google Web Store（需科学上网）： https://chrome.google.com/webstore/detail/stylish-custom-themes-for/fjnbnpbmkenffdnngjfgmeleoegfcffe/related*/
	
	/*## 版权*/
	/*本样式部分用到的图片来源如下：*/
	/** 学校官网：https://www.pku.edu.cn*/
	/** Iconfont： https://www.iconfont.cn*/
	/** Flaticon： https://www.flaticon.com*/
	
	/*本样式以 GPL 3.0 开源*/
	
	/*## 结语*/
	/*祝玩的开心，绩点高高！*/
	
	/*### 原文链接*/
	/*http://www.arthals.ink/?p=70*/
}

@-moz-document url("https://programming.pku.edu.cn/programming/index.jsp"), url("https://programming.pku.edu.cn/programming/") {
/*Programming.pku.edu.cn*/
	body>table>tbody>tr>td, body>table>tbody>tr {
		border-radius: 10px !important;
	}
	
	body>table>tbody {
		box-shadow: 0 16px 48px #e7ebf6 !important;
		background-color: #fff;
		border-radius: 10px !important;
	
	}
	
	body {
		background: hsla(210, 8%, 51%, .09);
		font: 15px Arial, sans-serif;
		padding: 10px !important;
	}
	
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(1) {
		display: none;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(2) {
		text-align: center !important;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png) !important;
		background-size: 120px !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		border-radius: 10px !important;
		padding-top: 5px;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(2)>img {
		visibility: hidden;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td {
		padding: 10px !important;
		padding-top: 0px !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(1)>.box {
		box-shadow: 0 4px 30px rgba(94, 61, 80, .15);
		border-radius: 5px;
		border: 1px solid #EEE !important;
		background: #fff !important;
		text-align: center !important;
	}
	
	form {
		padding-top: 12px;
		height: 20px !important;
	
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(1)>td:nth-child(1)>form>input:nth-child(1) {
		border-radius: 3px;
		border: 1px solid #EEE !important;
	}
	
	input:not([type="image"]) {
		border: 1px solid #EEE !important;
		background-color: #fff !important;
		border-radius: 3px !important;
		position: relative;
		top: 1px;
		font-size: 8pt;
		/*text-align: center;*/
		height: 20px !important;
		padding: 0px 3px !important;
	}
	
	select {
		appearance: none !important;
		-moz-appearance: none !important;
		-webkit-appearance: none !important;
		height: 20px !important;
		padding-left: 7px !important;
		width: 40px;
		border: 1px solid #EEE !important;
		;
		background: #fff;
	}
	
	table.header {
		background-color: #fff;
	}
	
	body>table>tbody>tr>td>table.header>tbody>tr:nth-child(1)>td, body>table>tbody>tr>td>table.footer>tbody>tr:nth-child(1)>td {
		background-color: #9B0100 !important;
	}
	
	body>table>tbody>tr>td>table.header>tbody>tr:nth-child(2) a {
		/*border:1px solid #EEE!important;*/
		padding-left: 3px;
		padding-right: 3px;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td {
		margin-top: 10px !important;
		box-shadow: 0 4px 30px rgba(94, 61, 80, .15);
		border-radius: 5px;
		border: 1px solid #EEE !important;
		background: #fff !important;
	
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td>table {
		border: #fff;
		padding: 5px;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td>table>tbody>tr:nth-child(1)>td {
		background-color: #fff;
	}
	
	.box_header {
		border-bottom-color: #9B0100 !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td:nth-child(2) {
		visibility: hidden;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td>table>tbody>tr:nth-child(2)>td li {
		margin-top: 5px;
	
	}
	
	body>table>tbody>tr>td>table.box {
		box-shadow: 0 4px 30px rgba(94, 61, 80, .15);
		border-radius: 5px;
		border: 0px solid #EEE !important;
		background: #fff !important;
		text-align: center !important;
	
	}
	
	body>table>tbody>tr>td>table.box>tbody>tr:nth-child(1)>td {
		background-color: #D75455;
		border-radius: 5px 5px 0px 0px;
		color: #fff;
		padding-bottom: 5px;
	}
	
	body>table>tbody>tr>td>table.footer>tbody>tr:nth-child(3)>td {
		padding-bottom: 10px;
	}
}

@-moz-document regexp("https://programming.pku.edu.cn/programming/course/[\\S]+/show.do[\\S]+"), regexp("https://programming.pku.edu.cn/programming/course/[\\S]+/showProblemList.do?[\\S]+"), regexp("https://programming.pku.edu.cn/programming/course/[\\S]+/show.do") {
/*Programming.pku.edu.cn*/
	body>table {
		box-shadow: 0 16px 48px #e7ebf6 !important;
		background-color: #fff;
		border-radius: 10px !important;
	}
	
	body {
		background: hsla(210, 8%, 51%, .09);
		font: 15pt Arial, sans-serif;
		padding: 10px !important;
	}
	
	.listtable {
		background: #fff;
		border: #fff;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(1) {
		display: none;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(2) {
		text-align: center !important;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png) !important;
		background-size: 120px !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		border-radius: 10px !important;
		padding-top: 5px;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(2)>img {
		visibility: hidden;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td {
		padding: 10px !important;
		padding-top: 0px !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(1)>.box {
		box-shadow: 0 4px 30px rgba(94, 61, 80, .15);
		border-radius: 5px;
		border: 1px solid #EEE !important;
		background: #fff !important;
		text-align: center !important;
	}
	
	body>table>tbody>tr>td>table.header>tbody>tr:nth-child(1)>td, body>table>tbody>tr>td>table.footer>tbody>tr:nth-child(1)>td {
		background-color: #9B0100 !important;
	}
	
	body>table>tbody>tr>td>table.header>tbody>tr:nth-child(2) a {
		/*border:1px solid #EEE!important;*/
		padding-left: 3px;
		padding-right: 3px;
	}
	
	table.header {
		background-color: #fff;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody {
		background: #fff;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table {
		/*border-collapse:separate;*/
		border-spacing: 10px 5px !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(6)>td {
		/*text-align: center;*/
		border-left: 8px solid #E44C47;
		border-right: 48px solid #fff;
		background-color: #FFD2D3;
		/*color:#6c6c6c;*/
		padding-top: 10px;
		padding-left: 15px;
		position: relative;
		left: 20px;
		top: 10px;
		/*border-radius: 2px;*/
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(6)>td font, body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(6)>td a {
		font-family: Arial !important;
		color: #6c6c6c !important;
		font-size: 11pt !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody [nowrap="nowrap"] {
		background-color: #C85C59;
		color: #fff;
		text-align: center;
		border-radius: 5px;
		padding: 3px;
		margin-bottom: 15px !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(7)>td>table>tbody>tr:nth-child(1)>td>table>tbody>tr>td:nth-child(1) {
		background-color: #fff;
		color: #9B0100;
		font-size: 12pt;
		transform: translate(0, 10px)
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(7)>td>table>tbody>tr:nth-child(1)>td>table>tbody>tr>td:nth-child(1):after {
		z-index: -1;
		content: "\b";
		display: block;
		height: 15px;
		margin: 0 auto;
		position: relative;
		bottom: 13px;
		width: 13%;
		background-color: rgba(248, 144, 144, .3);
		border-radius: 50px;
	
	}
	
	.showtable {
		z-index: -1;
		background-color: #fff;
	}
	
	.showtitle[width="99%"] font, .showtitle[width="99%"] {
		/*z-index:100;*/
		color: #9B0100;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(2)>td>table>tbody>tr>td.showtitle:after {
		content: "\b";
		display: block;
		height: 15px;
		margin: 0 auto;
		transform: translate(0, -15px);
		width: 40%;
		background-color: rgba(248, 144, 144, .3);
		border-radius: 50px;
	}
	
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(7)>td>table>tbody>tr:nth-child(1)>td>table>tbody>tr>td:nth-child(2), body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(1)>td>table>tbody>tr, body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(2)>td>table>tbody>tr>td.bar, body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(8)>td>table>tbody>tr:nth-child(1)>td>table>tbody>tr>td:nth-child(2) {
		display: none;
	}
	
	/*body > table > tbody > tr > td > table.pagetable > tbody > tr > td > table > tbody{*/
	/*	-webkit-border-vertical-spacing: 0px;*/
	/*	-webkit-border-horizontal-spacing:0px;*/
	/*}*/
	
	body>table>tbody>tr>td>table.footer>tbody>tr:nth-child(3)>td {
		padding-bottom: 10px;
	}
	
	.homework li:not(:first-child) {
		margin-top: 5px;
	}
	
	font[color="red"] {
		color: rgb(242, 132, 130);
	}
	
	font[color="green"] {
		color: rgb(165, 204, 169);
	}
	
	font[color="blue"] {
		color: rgb(142, 202, 230)
	}
}

@-moz-document regexp("https://programming.pku.edu.cn/programming/course/[\\S]+/showProblemList.do?[\\S]+") {
.listtable th, .listtable tr {
		background-color: #fff !important;
	}
	
	tr.fieldname>td {
		background-color: #fff !important;
		color: #9B0100 !important;
	}
	
	tr.fieldname>th>a {
		color: #9B0100 !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table:nth-child(4)>tbody>tr.fieldname {
		border-bottom: 5px solid #9B0100;
		border-bottom-color: #9B0100 !important;
		padding-bottom: 10px !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table.listtable>tbody>tr:nth-child(1)>td {
		background-color: #fff;
		color: #9B0100;
		font-size: 12pt;
		transform: translate(0, 10px)
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table.listtable>tbody>tr:nth-child(1)>td:after {
		content: "\b";
		display: block;
		height: 15px;
		margin: 0 auto;
		position: relative;
		bottom: 13px;
		width: 13%;
		background-color: rgba(248, 144, 144, .3);
		border-radius: 50px;
	}
	
	.ide {
		color: rgb(250, 197, 133) !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table.showtable>tbody>tr:nth-child(5)>td {
		border-left: 8px solid #E44C47;
		border-right: 48px solid #fff;
		background-color: #FFD2D3;
		padding-top: 10px;
		padding-left: 15px;
		position: relative;
		left: 20px;
		top: 10px;
		border-radius: 2px;
	}
}

@-moz-document regexp("https://programming.pku.edu.cn/programming/course/[\\S]+/showProblemList.do?[\\S]+&tableswitch=true") {
body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(6)>td {
		/*text-align: center;*/
		border-left: inherit;
		border-right: inherit;
		background-color: inherit;
		color: inherit;
		font-size: inherit;
		padding-top: inherit;
		padding-left: inherit;
		position: inherit;
		left: inherit;
		top: inherit;
	}
}

@-moz-document url("https://course.pku.edu.cn"), url("https://course.pku.edu.cn/webapps/login/"), url("https://course.pku.edu.cn/"), regexp("test://https://course.pku.edu.cn/[\\S]+override_stream[\\S]+") {
body>div>div:nth-child(1), body>div>div:nth-child(3)>iframe, .ad, #footer>p, body>div>div:nth-child(2)>iframe {
		display: none;
	}
	
	body {
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	.container {
		background: none;
	}
	
	body>div>div>#login {
		background: none;
		width: 100%;
		margin: 0 0 !important;
	}
	
	body>div>div>#login>form :not(:first-child) {
		display: none;
	}
	
	body>div>div>#login>form {
		width: 100%;
		height: 10px;
		display: block;
		text-align: center !important;
		margin-top: 300px;
	}
	
	.login_stu {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-111px);
		background-color: #fff;
		border: 1px solid #EEE;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png);
		background-size: 50%;
		background-position: top center;
		background-position-y: 20px;
		background-repeat: no-repeat;
		float: none;
		border-radius: 10px;
		margin: 0 auto !important;
		width: 200px !important;
		height: 100px;
		padding: 10px;
		text-align: center;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1)
	}
	
	.login_stu a:before {
		display: block;
		content: "\b";
		height: 1px;
		width: 200px;
		/*transform: translate(-20px);*/
		margin: 0 auto;
		background-color: #EEE;
		position: relative;
		bottom: 17px;
	}
	
	.login_stu a {
		display: block;
		margin: 2px auto;
		width: 100%;
		height: 25px;
		text-decoration: none;
		padding-top: 5px;
		color: #FFF;
		position: relative;
		top: 65px;
		background-color: #E44C47;
		border-radius: 10px;
		font-size: 10pt;
	}
}

@-moz-document url-prefix("https://iaaa.pku.edu.cn/") {
.bottom, #left, .top {
		display: none;
	}
	
	.mid {
		background-image: none !important;
	}
	
	.single_col_panel {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-171px);
		height: 400px;
		width: 300px !important;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
		background-color: #fff;
		border: 1px solid #EEE;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png);
		background-size: 50%;
		background-position: top center;
		background-position-y: 25px;
		background-repeat: no-repeat;
		float: none;
		border-radius: 10px;
		margin: 0 auto !important;
		padding: 20px;
		text-align: center;
	}
	
	.single_col_panel div {
		transform: translate(0, 40px);
	}
	
	input[type="submit"] {
		border-radius: 8px;
	}
	
	/*空密码报错隐去*/
	#login_panel>div:nth-child(7) {
		display: none;
	}
	
	#remember_text {
		transform: translate(0, 4px);
	}
	
	#passwd_area:before {
		content: "密码";
		display: block;
		/*font-weight: 800;*/
		/*font-size:16p;*/
		font: bold 13pt arial, sans-serif;
		text-align: left;
		margin-left: 5px;
		margin-bottom: 3px;
		color: #6c6c6c;
	}
	
	#login_panel>div:nth-child(1):before {
		content: "账号";
		display: block;
		height: 25px;
		/*font-weight: 800;*/
		/*font-size:16p;*/
		font: bold 13pt arial, sans-serif;
		text-align: left;
		margin-left: 5px;
		margin-bottom: 3px;
		color: #6c6c6c;
	}
	
	.fa.fa-times-circle, .pad-tip {
		transform: translate(0, 25px);
		color: #6c6c6c;
		font-weight: 100;
	}
	
	input[type="password"]::placeholder, input[type="text"]::placeholder {
		color: rgba(0, 0, 0, 0);
		/*transform: translate(0,-35px);*/
		/*color:#6c6c6c;*/
		/*font-weight: 800;*/
	}
	
	input {
		border-radius: 6px !important;
		/*box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.1);*/
	}
}

@-moz-document url("https://course.pku.edu.cn/webapps/"), url-prefix("https://course.pku.edu.cn/webapps/portal/") {
.brandingImgWrap, #global-nav-link, #appTabList>tbody>tr :not(:first-child), .hideoff, #quick_links_wrap, #module\:_735_1, #module\:_1_1>div.edit_controls, #global-nav {
		display: none;
	}
	
	.tabWrapper-right, #globalNavPageNavArea, #topTabs, #contentFrame, #schemePreview, .schemePreviewBody, body, .locationPane {
		background-color: #fff !important;
	}
	
	#topframe\.logout\.label {
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/exit.png);
		background-size: 80%;
		background-color: #fff;
		transform: translate(0, 20px);
	
		background-position: 0% 0% !important;
	}
	
	.global-nav-bar a.logout-link:hover {
		/*background-image: url(https://i.loli.net/2021/11/26/D3s5cLfvtYxMilB.png);*/
		background-position: 0% 0% !important;
	}
	
	.nav-link:hover, .nav-link:focus {
		background: rgba(0, 0, 0, 0);
	}
	
	#我的主页\(MyPage\) {
		border: none;
		transform: translate(-10px, 10px);
	}
	
	#globalNavPageNavArea>table {
		border: none !important;
		height: 100% !important;
	}
	
	#globalNavPageContentArea {
		height: 102% !important;
	}
	
	.locationPane {
		padding: 0;
		height: 100% !important;
	}
	
	#globalNavPageContentArea>div>div, #content, #content>div, #content>div>div, #content>div>div>div {
		height: 100% !important;
	}
	
	#我的主页\(MyPage\)>a span {
		color: #333;
	}
	
	#我的主页\(MyPage\)>a :hover {
		color: #86112E !important;
	}
	
	.container {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	#content>.container {
		border: none;
	}
	
	#column0:before {
		content: "\b";
		display: block;
		color: #000;
		width: 100%;
		text-align: center;
		height: 80px;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png);
		background-size: 60%;
		background-position: center left;
		background-position-x: 20px;
		background-repeat: no-repeat;
	}
	
	.containerPortal {
		height: 100% !important;
	}
	
	#column0 {
		transform: translate(0, -80px);
		display: block;
		background-color: #F1F0F5;
		height: 100% !important;
		width: 15%;
	}
	
	.portlet {
		border: none;
	}
	
	#module\:_726_1 {
		background-color: #F1F0F5;
	}
	
	.portlet h2 {
		font-size: 14pt;
		background-color: #fff;
	
	}
	
	#module\:_726_1 h2 {
		background-color: #F1F0F5;
		font-size: 14pt;
	}
	
	#module\:_726_1 h2:after {
		z-index: 1;
		content: "\b";
		visibility: visible;
		display: block;
		height: 10px;
		position: relative;
		top: 5px;
		width: 60px;
		/*background-color: rgba(248, 144, 144, .3);*/
		border-radius: 50px;
		background-color: #E44C47;
	}
	
	.portlet .portletList li {
		border-top: none;
	}
	
	.portlet .portletList li a {
		position: relative;
		color: #6c6c6c;
		font-size: 11pt;
	}
	
	.portlet .portletList li a:after {
		content: "\b";
		visibility: visible !important;
		position: absolute;
		border-bottom: 2px solid #E44C47;
		/*border-radius: 2px !important;*/
		bottom: -2px;
		/*向左偏移隐藏*/
		left: 100%;
		width: 0;
		-webkit-transition: width 350ms, left 350ms;
		-moz-transition: width 350ms, left 350ms;
		transition: width 350ms, left 350ms
	}
	
	.portlet .portletList li a:hover {
		color: #86112E;
	}
	
	.portlet .portletList li a:hover:after {
		visibility: visible !important;
		left: 0;
		width: 100%;
		-webkit-transition: width 350ms;
		-moz-transition: width 350ms;
		transition: width 350ms
	}
	
	.portlet .portletList-img>li {
		padding: 5px !important;
		border-radius: 5px;
		border: none;
	}
	
	.portlet .portletList-img>li:hover {
		background-color: #F6F6F6;
	}
	
	.portlet .portletList-img>li a {
		padding-left: 5px;
		color: #82A3AC;
	}
	
	.portlet .portletList-img>li:hover a {
		color: #429EBD;
	}
	
	.collapsible {
		border-top: none;
	}
	
	.portlet .noItems {
		text-align: left;
	}
	
	#column1, #column2 {
		animation: fadeInUp 2000ms cubic-bezier(0.23, 1, 0.32, 1);
		position: relative;
		left: 290px;
	}
	
	#column0 {
		position: fixed;
		animation: fadeInLeft 2000ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	
	@keyframes fadeInUp {
		from {
			opacity: 0;
			color: #fff;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate(0, 100%);
		}
	
		to {
			color: #333;
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}
	
	@keyframes fadeInLeft {
		from {
			opacity: 0;
			color: #fff;
			transform: translate(-100%, -80px);
		}
	
		to {
			color: #333;
			opacity: 1;
			transform: translate(0, -80px);
		}
	}
}

@-moz-document url-prefix("https://course.pku.edu.cn/webapps/blackboard/"), url-prefix("https://course.pku.edu.cn/webapps/discussionboard/") {
.brandingImgWrap, #global-nav-link, #appTabList>tbody>tr :not(:first-child), .hideoff, #quick_links_wrap, #module\:_735_1, #module\:_1_1>div.edit_controls, #global-nav, .path .placeholder, #copyright, #courseMenuPalette>div.actionBarMicro.clearfix, #arrowContext_1 {
		display: none;
	}
	
	.tabWrapper-right, #globalNavPageNavArea, #topTabs, #contentFrame, #schemePreview, .schemePreviewBody, body, .locationPane, .contentPane {
		background-color: #fff !important;
	}
	
	#topframe\.logout\.label {
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/exit.png);
		background-size: 80%;
		background-color: #fff;
		transform: translate(0, 20px);
		background-position: 0% 0% !important;
	}
	
	.global-nav-bar a.logout-link:hover {
		/*background-image: url(https://i.loli.net/2021/11/26/D3s5cLfvtYxMilB.png);*/
		background-position: 0% 0% !important;
	}
	
	.nav-link:hover, .nav-link:focus {
		background: rgba(0, 0, 0, 0);
	}
	
	#我的主页\(MyPage\) {
		border: none;
		transform: translate(-10px, 10px);
	}
	
	#我的主页\(MyPage\) a {
		color: #333;
	}
	
	#我的主页\(MyPage\) a:hover span {
		color: #86112E !important;
	}
	
	.path .root {
		display: block;
		margin: 0 auto;
		text-align: center;
	
	}
	
	#breadcrumbs>div.path.noToggle {
		float: none;
	}
	
	#breadcrumbs>div.path.noToggle>ol>li.root.coursePath a {
		animation: fadeInUp 2000ms cubic-bezier(0.23, 1, 0.32, 1);
		font-size: 18pt;
	}
	
	#breadcrumbs>div.path.noToggle>ol>li.root.coursePath:after {
		animation: smallBallStretch 2000ms cubic-bezier(0.23, 1, 0.32, 1);
		display: block;
		content: "\b";
		background-color: #96CBD9;
		border-radius: 50px;
		width: 20%;
		height: 16px;
		z-index: -1;
		margin: 0 auto;
	}
	
	#breadcrumbs, table.bouncer {
		border: none;
	}
	
	.locationPane {
		height: 100% !important;
	}
	
	#content, .path .root, .simplePath .root, .theme-switch {
		background-color: #fff;
		border: none;
	}
	
	.contentPane .shadow {
		border: none;
	}
	
	.breadcrumbs {
		padding: 0;
	}
	
	#pageTitleDiv {
		margin-top: 0px !important;
	}
	
	#navigationPane:before {
		content: "\b";
		display: block;
		color: #000;
		width: 100%;
		text-align: center;
		height: 80px;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png);
		background-size: 60%;
		background-position: center left;
		background-position-x: 20px;
		background-repeat: no-repeat;
	}
	
	#navigationPane {
		/*transform: translate(0,-123px);*/
		left: 0px !important;
		display: block;
		background-color: #F1F0F5;
		height: 100% !important;
		width: 15%;
	}
	
	.portlet {
		border: none;
	}
	
	.locationPane>nav[role="navigation"] {
		position: fixed;
	}
	
	#menuWrap, .menuWrap-inner, #courseMenuPalette, #courseMenuPalette ul, #courseMenuPalette ul>li>a, #courseMenuPalette>div.navPaletteContent, #courseMenuPalette_contents li {
		background-color: #F1F0F5;
	}
	
	#navigationPane {
		animation: fadeInLeft 2000ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	
	#navigationPane span, #navigationPane a {
		color: #6c6c6c !important;
		font-size: 11pt;
		font-weight: 400 !important;
		/*background-image: none;*/
		position: relative;
	}
	
	html .listCmCol #courseMenu_link, html .toolsCol #myGroups_link {
		background-image: none;
		background-color: rgba(0, 0, 0, 0) !important;
		color: #6c6c6c !important;
	}
	
	body #courseMenu_link, body #myGroups_link {
		color: #86112E !important;
		/*background-image: none;*/
		/*background-color: #86112E;*/
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/border.png);
		background-size: 100% 80%;
		background-position: center;
		background-repeat: no-repeat;
		background-position-x: -210px;
	
		/*background-position-x: -10px;*/
	
	}
	
	.navPaletteContent a {
		background-image: none;
	}
	
	#courseMenu_link:before, .submenuLink, .submenuLink_active {
		display: none !important;
	}
	
	.navPaletteContent a.comboLink_active, .navPaletteContent a.open {
		background: none;
	}
	
	.navPalette.tools {
		border: none;
	}
	
	a#courseMenu_link, a#myGroups_link {
		font-weight: 600 !important;
	}
	
	html #courseMenuPalette a:hover, html #controlPanelPalette_contents a:hover, html #courseMenuPalette span:hover, html #controlPanelPalette_contents span:hover, #myGroups_link:hover, #myGroups_contents:hover a {
		color: #86112E !important;
	}
	
	#navigationPane span:after {
		content: "\b" !important;
		visibility: visible !important;
		position: absolute;
		border-bottom: 2px solid #E44C47;
		/*border-radius: 2px !important;*/
		/*bottom: -2px;*/
		/*向左偏移隐藏*/
		left: 100%;
		width: 0;
		-webkit-transition: width 350ms, left 350ms;
		-moz-transition: width 350ms, left 350ms;
		transition: width 350ms, left 350ms
	}
	
	#navigationPane span:hover:after {
		visibility: visible !important;
		left: 0;
		width: 100%;
		-webkit-transition: width 350ms;
		-moz-transition: width 350ms;
		transition: width 350ms
	}
	
	#menuPuller {
		/*visibility: hidden;*/
		height: 100%;
		background: #fff !important;
	}
	
	#puller a {
		box-shadow: none;
		border: none;
	}
	
	#contentPanel {
		animation: fadeInUp 2000ms cubic-bezier(0.23, 1, 0.32, 1);
		margin-left: 15%;
	}
	
	#column0>div:first-child {
		margin-top: 10px;
	}
	
	#pageTitleHeader span {
		font-size: 14pt;
		background-color: #fff;
		font-weight: bold;
	
	}
	
	#containerdiv {
		border: none;
		padding: 0;
	}
	
	.collapsible {
		border: none;
	}
	
	.portlet {
		margin-left: 0;
	}
	
	#column0 {
		width: 80%;
		border: 1px solid #EEE;
		margin-bottom: 20px;
		padding-left: 20px;
		border-radius: 5px;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
	
	}
	
	#content_listContainer>li, #announcementList li {
		width: 80%;
		border: 1px solid #EEE;
		margin-bottom: 20px;
		margin-left: 10px;
		border-radius: 5px;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
	}
	
	.portlet h2 {
		background: #fff !important;
		padding-left: 0;
	}
	
	img[src="/images/ci/ng/cal_year_event.gif"] {
		display: none;
	}
	
	
	
	
	
	@keyframes fadeInUp {
		from {
			opacity: 0;
			color: #fff;
			transform: translate(0, 100%);
		}
	
		30% {
			opacity: 0;
			color: #A9D0DC;
		}
	
		to {
			color: #333;
			opacity: 1;
			transform: none;
		}
	}
	
	@keyframes smallBallStretch {
		from {
			background-color: #D6E3E4;
			width: 0px;
		}
	
		to {
			background-color: #96CBD9;
			width: 20%;
		}
	}
	
	@keyframes fadeInLeft {
		from {
			opacity: 0;
			color: #fff;
			transform: translate(-100%, 0);
		}
	
		to {
			color: #333;
			opacity: 1;
			transform: translate(0, 0);
		}
	}
	
	@keyframes fadeInUp {
		from {
			opacity: 0;
			color: #fff;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate(0, 100%);
		}
	
		to {
			color: #333;
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}
}

@-moz-document regexp("https://course.pku.edu.cn/webapps/blackboard/execute/announcement\\?[\\S]+context=course_entry[\\S]+") {
#content>div.localViewToggle.clearfix>ul, .localViewToggle {
		background: #fff;
		width: 110px;
		margin: 0 auto;
	}
	
	.localViewToggle {
		position: relative;
		right: 108px;
		height: 40px;
	}
	
	#content>div.localViewToggle.clearfix>ul {
		padding-top: 5px;
	}
	
	#content>div.localViewToggle.clearfix>ul>li a {
		border-radius: 5px !important;
	}
	
	.localViewToggle a.active:before, div.localViewToggle h2:before, .localViewToggle a.active:after, div.localViewToggle h2:after {
		border: none;
	}
	
	html .localViewToggle a.active, html .localViewToggle a.active:hover, html .localViewToggle a.active:focus {
		background-color: #A9D0DC !important;
	}
	
	.localViewToggle a.active, div.localViewToggle h2 {
		border: none;
	}
}

@-moz-document regexp("https://course.pku.edu.cn/webapps/[\\S]+MyGrades[\\S]+") {
.brandingImgWrap, #global-nav-link, #appTabList>tbody>tr :not(:first-child), .hideoff, #quick_links_wrap, #module\:_735_1, #module\:_1_1>div.edit_controls, #global-nav, .path .placeholder, #copyright, #courseMenuPalette>div.actionBarMicro.clearfix, #arrowContext_1 {
		display: none;
	}
	
	.tabWrapper-right, #globalNavPageNavArea, #topTabs, #contentFrame, #schemePreview, .schemePreviewBody, .locationPane, .contentPane, html html, .cloud-iframe, html, body.mybb-shell {
		background-color: #fff !important;
	}
	
	#topframe\.logout\.label {
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/exit.png);
		background-size: 80%;
		background-color: #fff;
		transform: translate(0, 20px);
		background-position: 0% 0% !important;
	}
	
	#topframe\.logout\.label:hover {
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/exit-2.png);
	
	}
	
	.global-nav-bar a.logout-link:hover {
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/exit-2.png);
		background-position: 0% 0% !important;
	}
	
	.nav-link:hover, .nav-link:focus {
		background: rgba(0, 0, 0, 0);
	}
	
	#我的主页\(MyPage\) {
		border: none;
		transform: translate(-10px, 13px);
	}
	
	#我的主页\(MyPage\) a {
		color: #333;
	}
	
	#我的主页\(MyPage\) a:hover span {}
	
	.path .root {
		display: block;
		margin: 0 auto;
		text-align: center;
	
	}
	
	#side_nav {
		width: 215px;
		background-color: #F1F0F5;
		position: fixed;
		animation: fadeInLeft 2000ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	
	#side_nav:before {
		content: "\b";
		display: block;
		color: #000;
		width: 100%;
		text-align: center;
		height: 80px;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png);
		background-size: 60%;
		background-position: center left;
		background-position-x: 20px;
		background-repeat: no-repeat;
	}
	
	#side_nav ul li:not(#MyGradesOnMyBb_____MyGradesTool) {
		display: none;
	}
	
	.menu-icon.grades {
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/clover.png);
		background-size: 50%;
		background-color: rgba(0, 0, 0, 0);
		background-position: top center;
	}
	
	#mybbListTools {
		width: 100px !important;
	
	}
	
	#MyGradesOnMyBb_____MyGradesTool>a {
		border-radius: 5px;
		background-color: #D6E3E4;
		height: 70px;
		/*box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);*/
		box-shadow: none;
	}
	
	.appTabs a:hover span, .appTabs a:focus span {
		color: #86112E !important;
	
	}
	
	.side-nav ul li:hover, .side-nav ul li {
		opacity: .6;
	}
	
	.side-nav ul li:hover>a {
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1) !important;
	}
	
	.menu-icon.grades:after {
		content: "绩点高高";
		color: #82A3AC;
		background: none;
		display: block;
		position: relative;
		top: 35px
	}
	
	#MyGradesOnMyBb_____MyGradesTool>a {
		text-decoration: none;
	}
	
	/*#globalNavPageContentArea,html,.side-nav{*/
	/*	background: #F1F0F5!important;*/
	/*}*/
	.locationPane, #contentPanel, #side_nav, .mybb-div, #containerdiv, #content {
		height: 100% !important;
	}
	
	.iframe-wrap {
		/*border: none;*/
	}
	
	#iframe_wrap {
		border: none;
		-webkit-box-shadow: none;
		height: 90%;
		width: 70%;
		margin: 0 auto !important;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		animation: fadeInUp 2000ms cubic-bezier(0.23, 1, 0.32, 1);
		overflow: hidden;
	}
	
	.cloud-iframe {
		border-radius: 10px;
	}
	
	
	@keyframes fadeInUp {
		from {
			opacity: 0;
			color: #fff;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate(0, 100%);
		}
	
		to {
			color: #333;
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}
	
	@keyframes fadeInLeft {
		from {
			opacity: 0;
			color: #fff;
			transform: translate(-100%, 0px);
		}
	
		to {
			color: #333;
			opacity: 1;
			transform: translate(0, 0px);
		}
	}
}

@-moz-document url-prefix("https://course.pku.edu.cn/webapps/streamViewer/streamViewer?") {
#outer_left_stream_mygrades {
		width: 400px !important;
	}
	
	html {
		height: 120%;
	}
	
	#right_stream_mygrades {
		width: 600px;
		/*margin-right:20%*/
	}
	
	.stream_page_left, html {
		border: none !important;
		background: #fff !important;
	}
	
	#streamHeader_mygrades>h1 span.current-page {
		display: none;
	}
	
	#streamHeader_mygrades>h1 span.title-text {
		font-weight: 600;
		color: #6c6c6c;
	}
	
	.stream_right {
		box-shadow: none;
	}
	
	.grade-value {
		padding-left: 5px;
		color: #82A3AC;
	}
	
	#left_stream_mygrades>div[aria-selected="true"], .active_stream_item {
		background-color: #F6F6F6;
		border-radius: 10px;
		box-shadow: none;
		border: none;
	}
	
	#left_stream_mygrades>div[aria-selected="true"] .stream_area_name, .active_stream_item .stream_area_name {
		color: #fff;
		background-color: #00AEB9;
	}
	
	.stream_item {
		border: none;
		margin-top: 10px;
		/*height: 80px;*/
	}
	
	#left_stream_mygrades>div[aria-selected="true"] .grade-value {
		color: #429EBD;
	}
	
	iframe {
		background-color: #fff !important;
	}
	
	html>body {
		background: rgba(0, 0, 0, 0) !important;
	}
	
	.loadingOverlay img {
		display: none !important;
	}
	
	.stream_list_filter>li, .stream_list_filter>li>a {
		font-size: 10pt;
		font-weight: 400 !important;
		color: #6c6c6c;
		vertical-align: middle;
		border: none;
	}
	
	#filter_by_mygrades>li.stream_filterlinks_divider:nth-child(3) {
		vertical-align: middle;
		/*transform: translate(0,10px);*/
		/*position: relative;*/
		border-left: 1px solid #EEE;
		padding-left: 15px;
		top: 1px;
		/*padding-bottom: 0;*/
	}
	
	.stream_item:last-child, .stream_item:last-child:hover {
		border: none;
	}
	
	.stream_list_filter a.active, .stream_list_filter a.active:hover {
		box-shadow: none;
		border: none;
		/*background-color: #fff;*/
	}
	
	.stream_list_filter a.active {
		display: inline-block;
		max-width: 50px;
		overflow: hidden;
	}
	
	html #filter_by_mygrades li, html #filter_by_mygrades li a {
		/*width:10px!important;*/
		max-height: 15px;
		/*overflow: hidden;*/
		text-overflow: ellipsis;
		white-space: nowrap;
		word-break: keep-all;
	}
	
	#filter_by_mygrades li {
		/*max-width: 40px;*/
	}
	
	#dynamic_filters_mygrades_d, #dynamic_filters_mygrades {
		border: none;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1) !important;
		transform: translate(-40%, -20%);
		/*float: top;*/
	}
	
	#errorMessageSpan_mygrades_d, .streamError {
		box-shadow: none;
		background-color: #fff;
	}
	
	#dynamic_filters_mygrades_d .filter-content-wrapper, #dynamic_filters_mygrades .filter-content-wrapper {
		margin: 10px;
		margin-bottom: 0px;
	}
	
	#dynamic_filters_mygrades {}
	
	div#dynamic_filters_mygrades.stream_dynamic_filters {
		background: #fff;
	}
	
	.stream_header {
		border: none;
	}
	
	#left_stream_mygrades .stream_context, #left_stream_mygrades .active_stream_item .stream_context, #stream_mygrades_d .stream_context, #stream_mygrades_d .active_stream_item .stream_context {
		font-family: Arial, Sans-Serif;
		color: #6c6c6c;
	}
	
	.stream_context_bottom {
		font-family: Arial, Sans-Serif;
		color: #6c6c6c;
	}
	
	.stream_item .stream_area_name {
		font-style: normal;
		color: #00AEB9;
		/*color:#fff;*/
		/*background-color:#00AEB9;*/
		border-radius: 5px;
		padding: 3px;
	}
	
	/*.grade-value{*/
	/*	background: linear-gradient(298deg, #86e3ce, #d0e6a5);*/
	/*    background-size: 400% 400%;*/
	/*    -webkit-animation: AnimationName 5s ease infinite;*/
	/*    -moz-animation: AnimationName 5s ease infinite;*/
	/*    animation: AnimationName 5s ease infinite;*/
	/*    color: transparent;*/
	/*    background-clip: text;*/
	/*}*/
	
	
	/*@-webkit-keyframes AnimationName {*/
	/*    0%{background-position:0% 20%}*/
	/*    50%{background-position:100% 81%}*/
	/*    100%{background-position:0% 20%}*/
	/*}*/
	/*@-moz-keyframes AnimationName {*/
	/*    0%{background-position:0% 20%}*/
	/*    50%{background-position:100% 81%}*/
	/*    100%{background-position:0% 20%}*/
	/*}*/
	/*@keyframes AnimationName { */
	/*    0%{background-position:0% 20%}*/
	/*    50%{background-position:100% 81%}*/
	/*    100%{background-position:0% 20%}*/
	/*}*/
}

@-moz-document regexp("https://course.pku.edu.cn/webapps/[\\S]+myGrades\\?course_id=[\\S]+") {
html {
		background-color: #fff !important;
	}
	
	.loadingOverlay {
		background-color: #fff !important;
	}
	
	body {
		background-color: #fff !important;
		/*display: none!important;*/
	}
	
	/*body > div.loadingOverlay,body{*/
	/*	background: rgba(0,0,0,0)!important;*/
	/*}*/
	.loadingOverlay img {
		visibility: hidden;
	}
	
	
	body {
		background-color: #fff !important;
	}
	
	#streamDetail {
		border: none;
	}
	
	#streamDetailHeaderRight>span {
		display: none;
	}
	
	#streamDetailHeaderRightClickable a {
		border: none;
		color: #053F5C;
	}
	
	#streamDetailHeaderRightClickable a:after {
		content: "\b";
		display: block;
		width: 80px;
		height: 10px;
		background-color: #429EBD;
		border-radius: 50px;
		bottom: 10px;
	}
	
	.detail-heading {
		padding-bottom: 0;
		border-bottom: none;
	}
	
	#filterby>li {
		text-align: center;
	}
	
	#streamDetailMainBodyRight>div.filterBarHorizontal {
		background-color: #fff;
		border-top: none;
	}
	
	#filterby>li>a.active, .filterBarHorizontal ul li a:hover {
		box-shadow: none;
		border: none;
		padding: 2px 12px;
	}
	
	#sortby {
		appearance: none !important;
		-moz-appearance: none !important;
		-webkit-appearance: none !important;
		height: 20px !important;
		padding-left: 7px !important;
		padding-right: 7px !important;
		width: inherit;
		overflow: hidden;
		border: 1px solid #EEE !important;
		;
		background: #fff;
	}
	
	.mybb.gradeTableNew .grades_header {
		padding-bottom: 10px;
		box-shadow: none;
	}
	
	.mybb.gradeTableNew .grades_header div {
		font-size: 11pt !important;
		font-family: Arial, Sans-Serif !important;
		font-weight: 600 !important;
	}
	
	#grades_wrapper>div {
		margin-top: 5px;
		border-radius: 10px;
		border: none;
	}
	
	.cell.gradable {
		padding-top: 10px;
		font-size: 11px !important;
		font-family: Arial, Sans-Serif !important;
		font-weight: 600 !important;
	}
	
	.cell.gradable>a {
		/*padding-top:15px;*/
		margin-top: 0 !important;
		padding-top: 3px;
		font-size: 11px !important;
		font-family: Arial, Sans-Serif !important;
		font-weight: 600 !important;
	}
	
	.cell.gradable div:not(:last-child) {
		margin-top: 2px;
		font-size: 9px;
	}
	
	.eval-links.horizontal input {
		font-size: 9px;
		text-decoration: none;
	}
	
	html .eval-links.horizontal input:hover {
		text-decoration: none !important;
	
	}
	
	.lastActivityDate {
		margin-top: 3px;
		font-size: 9px;
		text-overflow: ellipsis !important;
		white-space: nowrap !important;
		word-break: keep-all;
	}
	
	.gradeTableNew .calculatedRow.row {
		box-shadow: none;
	}
	
	.gradeTableNew .calculatedRow.row .cell.gradable {
		/*background-color:#C1D1D1;*/
		border-left: 6px solid #C1D1D1;
	}
	
	.icon-comment:before {
		content: "\b";
		background-image: url('https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/chat.png');
		background-size: 100%;
		width: 20px
	}
	
	.tooltipContainer-left img {
		visibility: hidden;
	}
	
	.tooltipContainer-left {
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/exclamation.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	.tooltip {
		background: #fff;
		border: 1px solid #EEE;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1) !important;
		color: #6c6c6c;
		text-shadow: none;
	}
	
	.tooltipContainer-left .tooltip:after {
		text-shadow: none;
	
	}
}

@-moz-document url("https://course.pku.edu.cn/webapps/calendar/viewPersonal") {
#content>div.localViewToggle.clearfix>ul, .localViewToggle {
		background: #fff;
		width: 222px;
		margin: 0 auto;
	}
	
	
	#content>div.localViewToggle.clearfix>ul {
		padding-top: 5px;
	}
	
	#content>div.localViewToggle.clearfix>ul>li a {
		border-radius: 5px !important;
	}
	
	.localViewToggle a.active:before, div.localViewToggle h2:before, .localViewToggle a.active:after, div.localViewToggle h2:after {
		border: none;
	}
	
	html .localViewToggle a.active, html .localViewToggle a.active:hover, html .localViewToggle a.active:focus {
		background-color: #A9D0DC !important;
	}
	
	.localViewToggle a.active, div.localViewToggle h2 {
		border: none;
	}
	
	#breadcrumbs {
		font-size: 18pt;
	}
	
	#breadcrumbs>div.path.noToggle>ol>li.root :after {
		animation: smallBallStretch 2000ms cubic-bezier(0.23, 1, 0.32, 1);
		display: block;
		content: "\b";
		background-color: #96CBD9;
		border-radius: 50px;
		width: 20%;
		height: 16px;
		z-index: -1;
		margin: 0 auto;
	}
	
	.u_reverseAlign, #pageTitleDiv {
		/*text-align: center;*/
		display: none;
	}
	
	#announcementList li:first-child {
		margin-top: 40px;
	}
	
	#contentPanel, #containerdiv {
		margin: 0 auto !important;
	}
	
	#content_listContainer>li, #announcementList li {
		width: 70%;
		margin: 10px auto;
	}
	
	@keyframes smallBallStretch {
		from {
			background-color: #D6E3E4;
			width: 0px;
		}
	
		to {
			background-color: #96CBD9;
			width: 20%;
		}
	}
}

@-moz-document url-prefix("https://course.pku.edu.cn/webapps/blackboard/execute/taskEditList?"), regexp("https://course.pku.edu.cn/webapps/blackboard/execute/announcement\\?[\\S]+context=mybb[\\S]+") {
#content>div.localViewToggle.clearfix>ul, .localViewToggle {
		background: #fff;
		width: 222px;
		margin: 0 auto;
	}
	
	
	#content>div.localViewToggle.clearfix>ul {
		padding-top: 5px;
	}
	
	#content>div.localViewToggle.clearfix>ul>li a {
		border-radius: 5px !important;
	}
	
	.localViewToggle a.active:before, div.localViewToggle h2:before, .localViewToggle a.active:after, div.localViewToggle h2:after {
		border: none;
	}
	
	html .localViewToggle a.active, html .localViewToggle a.active:hover, html .localViewToggle a.active:focus {
		background-color: #A9D0DC !important;
	}
	
	.localViewToggle a.active, div.localViewToggle h2 {
		border: none;
	}
	
	#breadcrumbs {
		font-size: 18pt;
	}
	
	#breadcrumbs > div.path.noToggle > ol > li.root :after {
		animation: smallBallStretch 2000ms cubic-bezier(0.23, 1, 0.32, 1);
		display: block;
		content: "\b";
		background-color: #96CBD9;
		border-radius: 50px;
		width: 20%;
		height: 16px;
		z-index: -1;
		margin: 0 auto;
	}
	.u_reverseAlign,#pageTitleDiv{
		/*text-align: center;*/
		display: none;
	}
	#announcementList li:first-child{
		margin-top:40px;
	}
	#contentPanel,#containerdiv{
		margin:0 auto!important;
	}
	#content_listContainer >li, #announcementList li{
		width:70%;
		margin:10px auto;
	}
	.locationPane{
		width:70%!important;
		min-width:100px!important;
		margin: 10px auto;
	}
	@keyframes smallBallStretch{
		from {
			background-color: #D6E3E4;
			width:0px;
		}
		to {
			background-color:#96CBD9 ;
			width:20%;
		}
	}
}