@import "../css/arco-palette.css";

:root {
    --c-title: #212121;
    --c-text: #666;
    --c-border: #D0D7DE;
    --c-background: #F6F8FA;
    --c-input-bg: #F6F8FA;
    --c-card: #fff;
    --c-hover: rgba(230, 230, 230, .5);
    --c-focus: #fff;
    --c-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    --c-accent: #9B0000;
    --c-navbar: #fff;
    --c-sidebar: #fff;
    --c-subtitle: #82A3AC;
    --c-label: #F6F8FA;
    --c-link: #FCC59F;
    --c-primary: #165DFF;
    --c-primary-light: #E8F3FF;
    --c-secondary: #89A2AC;
    --c-button: #F7F8FA;

    /* 图片 */
    --i-logo: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/PKU_Logo.png');
    --i-remind: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/remind.svg');
    --i-exit: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/exit.svg');
    --i-watch: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/stopwatch-start.svg');
    --i-file: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/file.svg');
    --i-folder: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/folder.svg');
    --i-link: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/link.svg');
    --i-setting: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/setting.svg');
    --i-check: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/check.svg');
    --i-download: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/download.svg');

    /* 不需要根据黑暗模式改编的变量 */
    --c-pku: #9B0000;

    --i-alarm: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/alarm-clock.svg');
    --i-idcard: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/id-card-v.svg');
    --i-tip: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/tip.svg');
    --i-comment: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/comment.svg');
    --i-clover: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/clover.svg');
    --i-sandclock: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/sandclock.svg');
}

@media(prefers-color-scheme: dark) {
    :root {
        --c-title: #e2e2e2;
        --c-text: #bababa;
        --c-border: #30363D;
        --c-background: #020409;
        --c-input-bg: #020409;
        --c-hover: rgba(29, 33, 41, .5);
        --c-card: #0E1017;
        --c-focus: #010409;
        --c-box-shadow: none;
        --c-accent: #E44C47;
        --c-navbar: #171A22;
        --c-sidebar: #0E1017;
        --c-subtitle: #86909c;
        --c-label: #22252D;
        --c-link: #F9925A;
        --c-primary: #7DC1FC;
        --c-primary-light: #262947;
        --c-secondary: #00879D;
        --c-button: #22262D;


        --i-logo: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/PKU_Logo_Dark.png');
        --i-remind: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/remind_dark.svg');
        --i-exit: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/exit_dark.svg');
        --i-watch: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/stopwatch-start_dark.svg');
        --i-file: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/file_dark.svg');
        --i-folder: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/folder_dark.svg');
        --i-link: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/link_dark.svg');
        --i-setting: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/setting_dark.svg');
        --i-check: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/check_dark.svg');
        --i-download: url('https://s-bj-2937-artdoge.oss.dogecdn.com/css/src/download_dark.svg');

    }
}


body,
html {
    background-color: var(--c-background);
    /* animation: transparentToOpaque .5s ease-in-out; */
}

* {
    outline: none !important;
}

@keyframes fadeInUpTransition {
    from {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpStablePixel {
    from {
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpStablePixelForContentBox {
    from {
        margin-left: min(25%, 300px);
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }

    to {
        margin-left: min(25%, 300px);
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeftStablePixel {
    from {
        color: #fff;
        transform: translateX(-72px);
        -webkit-transform: translateX(-72px);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}