	.appTabs input:focus, .appTabs button:focus, .appTabs select:focus, .appTabs a:focus, .global-nav-bar input:focus, .global-nav-bar button:focus, .global-nav-bar select:focus, .global-nav-bar a:focus, .mybb-tools input:focus, .mybb-tools button:focus, .mybb-tools  select:focus, .mybb-tools a:focus, .mybb-div .side-nav input:focus, .mybb-div .side-nav button:focus, .mybb-div .side-nav select:focus, .mybb-div .side-nav a:focus, .navPalette input:focus, .navPalette button:focus, .navPalette select:focus, .navPalette a:focus, .gradeHeader input:focus, .gradeHeader button:focus, .gradeHeader select:focus, .gradeHeader a:focus, .gradingPanelHeader input:focus, .gradingPanelHeader button:focus, .gradingPanelHeader select:focus, .gradingPanelHeader a:focus, .inlineGrader .resizeControls input:focus, .inlineGrader .resizeControls button:focus, .inlineGrader .resizeControls select:focus, .inlineGrader .resizeControls a:focus{
		outline: none;
	}
	@media only screen and (min-width: 320px) and (max-width: 1024px){
		.global-nav-bar-wrap{
			display: none;
		}
		#我的主页\(MyPage\){
			display: none;
		}
		#globalNavPageNavArea{
			display: none;
		}
		.containerPortal, .portal .container {
	        padding:0px
	    }
	    #column0{
	    	margin-top:0;
	    }
	}
	@media only screen and (min-width: 0) and (max-width: 736px){
	   .container #column0{
	    	margin-top:0;
	    }
	    body{
	    	padding-top:0;
	    }
	    .locationPane{
	    	margin-top:28px;
	    }
	}
	@media only screen and (min-width: 320px) and (max-width: 1024px){
	   .container #column0{
	    	margin-top:0;
	    }
	    body{
	    	padding-top:0;
	    }
	    .locationPane{
	    	margin-top:28px;
	    }
		
	}
