/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
:root.pku-art-light {
    --red-1: #ffece8;
    --red-2: #fdcdc5;
    --red-3: #fbaca3;
    --red-4: #f98981;
    --red-5: #f76560;
    --red-6: #f53f3f;
    --red-7: #cb272d;
    --red-8: #a1151e;
    --red-9: #770813;
    --red-10: #4d000a;

    --orangered-1: #fff3e8;
    --orangered-2: #fdddc3;
    --orangered-3: #fcc59f;
    --orangered-4: #faac7b;
    --orangered-5: #f99057;
    --orangered-6: #f77234;
    --orangered-7: #cc5120;
    --orangered-8: #a23511;
    --orangered-9: #771f06;
    --orangered-10: #4d0e00;

    --orange-1: #fff7e8;
    --orange-2: #ffe4ba;
    --orange-3: #ffcf8b;
    --orange-4: #ffb65d;
    --orange-5: #ff9a2e;
    --orange-6: #ff7d00;
    --orange-7: #d25f00;
    --orange-8: #a64500;
    --orange-9: #792e00;
    --orange-10: #4d1b00;

    --gold-1: #fffce8;
    --gold-2: #fdf4bf;
    --gold-3: #fce996;
    --gold-4: #fadc6d;
    --gold-5: #f9cc45;
    --gold-6: #f7ba1e;
    --gold-7: #cc9213;
    --gold-8: #a26d0a;
    --gold-9: #774b04;
    --gold-10: #4d2d00;

    --yellow-1: #feffe8;
    --yellow-2: #fefebe;
    --yellow-3: #fdfa94;
    --yellow-4: #fcf26b;
    --yellow-5: #fbe842;
    --yellow-6: #fadc19;
    --yellow-7: #cfaf0f;
    --yellow-8: #a38408;
    --yellow-9: #785d03;
    --yellow-10: #4d3800;

    --lime-1: #fcffe8;
    --lime-2: #edf8bb;
    --lime-3: #dcf190;
    --lime-4: #c9e968;
    --lime-5: #b5e241;
    --lime-6: #9fdb1d;
    --lime-7: #7eb712;
    --lime-8: #5f940a;
    --lime-9: #437004;
    --lime-10: #2a4d00;

    --green-1: #e8ffea;
    --green-2: #aff0b5;
    --green-3: #7be188;
    --green-4: #4cd263;
    --green-5: #23c343;
    --green-6: #00b42a;
    --green-7: #009a29;
    --green-8: #008026;
    --green-9: #006622;
    --green-10: #004d1c;

    --cyan-1: #e8fffb;
    --cyan-2: #b7f4ec;
    --cyan-3: #89e9e0;
    --cyan-4: #5edfd6;
    --cyan-5: #37d4cf;
    --cyan-6: #14c9c9;
    --cyan-7: #0da5aa;
    --cyan-8: #07828b;
    --cyan-9: #03616c;
    --cyan-10: #00424d;

    --blue-1: #e8f7ff;
    --blue-2: #c3e7fe;
    --blue-3: #9fd4fd;
    --blue-4: #7bc0fc;
    --blue-5: #57a9fb;
    --blue-6: #3491fa;
    --blue-7: #206ccf;
    --blue-8: #114ba3;
    --blue-9: #063078;
    --blue-10: #001a4d;

    --arcoblue-1: #e8f3ff;
    --arcoblue-2: #bedaff;
    --arcoblue-3: #94bfff;
    --arcoblue-4: #6aa1ff;
    --arcoblue-5: #4080ff;
    --arcoblue-6: #165dff;
    --arcoblue-7: #0e42d2;
    --arcoblue-8: #072ca6;
    --arcoblue-9: #031a79;
    --arcoblue-10: #000d4d;

    --purple-1: #f5e8ff;
    --purple-2: #ddbef6;
    --purple-3: #c396ed;
    --purple-4: #a871e3;
    --purple-5: #8d4eda;
    --purple-6: #722ed1;
    --purple-7: #551db0;
    --purple-8: #3c108f;
    --purple-9: #27066e;
    --purple-10: #16004d;

    --pinkpurple-1: #ffe8fb;
    --pinkpurple-2: #f7baef;
    --pinkpurple-3: #f08ee6;
    --pinkpurple-4: #e865df;
    --pinkpurple-5: #e13edb;
    --pinkpurple-6: #d91ad9;
    --pinkpurple-7: #b010b6;
    --pinkpurple-8: #8a0993;
    --pinkpurple-9: #650370;
    --pinkpurple-10: #42004d;

    --magenta-1: #ffe8f1;
    --magenta-2: #fdc2db;
    --magenta-3: #fb9dc7;
    --magenta-4: #f979b7;
    --magenta-5: #f754a8;
    --magenta-6: #f5319d;
    --magenta-7: #cb1e83;
    --magenta-8: #a11069;
    --magenta-9: #77064f;
    --magenta-10: #4d0034;

    --gray-1: #f7f8fa;
    --gray-2: #f2f3f5;
    --gray-3: #e5e6eb;
    --gray-4: #c9cdd4;
    --gray-5: #a9aeb8;
    --gray-6: #86909c;
    --gray-7: #6b7785;
    --gray-8: #4e5969;
    --gray-9: #272e3b;
    --gray-10: #1d2129;
}

:root.pku-art-dark {
    --red-1: #4d000a;
    --red-2: #770611;
    --red-3: #a1161f;
    --red-4: #cb2e34;
    --red-5: #f54e4e;
    --red-6: #f76965;
    --red-7: #f98d86;
    --red-8: #fbb0a7;
    --red-9: #fdd1ca;
    --red-10: #fff0ec;

    --orangered-1: #4d0e00;
    --orangered-2: #771e05;
    --orangered-3: #a23714;
    --orangered-4: #cc5729;
    --orangered-5: #f77e45;
    --orangered-6: #f9925a;
    --orangered-7: #faad7d;
    --orangered-8: #fcc6a1;
    --orangered-9: #fddec5;
    --orangered-10: #fff4eb;

    --orange-1: #4d1b00;
    --orange-2: #793004;
    --orange-3: #a64b0a;
    --orange-4: #d26913;
    --orange-5: #ff8d1f;
    --orange-6: #ff9626;
    --orange-7: #ffb357;
    --orange-8: #ffcd87;
    --orange-9: #ffe3b8;
    --orange-10: #fff7e8;

    --gold-1: #4d2d00;
    --gold-2: #774b04;
    --gold-3: #a26f0f;
    --gold-4: #cc961f;
    --gold-5: #f7c034;
    --gold-6: #f9cc44;
    --gold-7: #fadc6c;
    --gold-8: #fce995;
    --gold-9: #fdf4be;
    --gold-10: #fffce8;

    --yellow-1: #4d3800;
    --yellow-2: #785e07;
    --yellow-3: #a38614;
    --yellow-4: #cfb325;
    --yellow-5: #fae13c;
    --yellow-6: #fbe94b;
    --yellow-7: #fcf374;
    --yellow-8: #fdfa9d;
    --yellow-9: #fefec6;
    --yellow-10: #fefff0;

    --lime-1: #2a4d00;
    --lime-2: #447006;
    --lime-3: #629412;
    --lime-4: #84b723;
    --lime-5: #a8db39;
    --lime-6: #b8e24b;
    --lime-7: #cbe970;
    --lime-8: #def198;
    --lime-9: #eef8c2;
    --lime-10: #fdffee;

    --green-1: #004d1c;
    --green-2: #046625;
    --green-3: #0a802d;
    --green-4: #129a37;
    --green-5: #1db440;
    --green-6: #27c346;
    --green-7: #50d266;
    --green-8: #7ee18b;
    --green-9: #b2f0b7;
    --green-10: #ebffec;

    --cyan-1: #00424d;
    --cyan-2: #06616c;
    --cyan-3: #11838b;
    --cyan-4: #1fa6aa;
    --cyan-5: #30c9c9;
    --cyan-6: #3fd4cf;
    --cyan-7: #66dfd7;
    --cyan-8: #90e9e1;
    --cyan-9: #bef4ed;
    --cyan-10: #f0fffc;

    --blue-1: #001a4d;
    --blue-2: #052f78;
    --blue-3: #134ca3;
    --blue-4: #2971cf;
    --blue-5: #469afa;
    --blue-6: #5aaafb;
    --blue-7: #7dc1fc;
    --blue-8: #a1d5fd;
    --blue-9: #c6e8fe;
    --blue-10: #eaf8ff;

    --arcoblue-1: #000d4d;
    --arcoblue-2: #041b79;
    --arcoblue-3: #0e32a6;
    --arcoblue-4: #1d4dd2;
    --arcoblue-5: #306fff;
    --arcoblue-6: #3c7eff;
    --arcoblue-7: #689fff;
    --arcoblue-8: #93beff;
    --arcoblue-9: #bedaff;
    --arcoblue-10: #eaf4ff;

    --purple-1: #16004d;
    --purple-2: #27066e;
    --purple-3: #3e138f;
    --purple-4: #5a25b0;
    --purple-5: #7b3dd1;
    --purple-6: #8e51da;
    --purple-7: #a974e3;
    --purple-8: #c59aed;
    --purple-9: #dfc2f6;
    --purple-10: #f7edff;

    --pinkpurple-1: #42004d;
    --pinkpurple-2: #650370;
    --pinkpurple-3: #8a0d93;
    --pinkpurple-4: #b01bb6;
    --pinkpurple-5: #d92ed9;
    --pinkpurple-6: #e13ddb;
    --pinkpurple-7: #e866df;
    --pinkpurple-8: #f092e6;
    --pinkpurple-9: #f7c1f0;
    --pinkpurple-10: #fff2fd;

    --magenta-1: #4d0034;
    --magenta-2: #770850;
    --magenta-3: #a1176c;
    --magenta-4: #cb2b88;
    --magenta-5: #f545a6;
    --magenta-6: #f756a9;
    --magenta-7: #f97ab8;
    --magenta-8: #fb9ec8;
    --magenta-9: #fdc3db;
    --magenta-10: #ffe8f1;

    --gray-10: #f7f8fa;
    --gray-9: #f2f3f5;
    --gray-8: #e5e6eb;
    --gray-7: #c9cdd4;
    --gray-6: #a9aeb8;
    --gray-5: #86909c;
    --gray-4: #6b7785;
    --gray-3: #4e5969;
    --gray-2: #272e3b;
    --gray-1: #1d2129;
}
