/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
:root {
    --red-1: #FFECE8;
    --red-2: #FDCDC5;
    --red-3: #FBACA3;
    --red-4: #F98981;
    --red-5: #F76560;
    --red-6: #F53F3F;
    --red-7: #CB272D;
    --red-8: #A1151E;
    --red-9: #770813;
    --red-10: #4D000A;

    --orangered-1: #FFF3E8;
    --orangered-2: #FDDDC3;
    --orangered-3: #FCC59F;
    --orangered-4: #FAAC7B;
    --orangered-5: #F99057;
    --orangered-6: #F77234;
    --orangered-7: #CC5120;
    --orangered-8: #A23511;
    --orangered-9: #771F06;
    --orangered-10: #4D0E00;

    --orange-1: #FFF7E8;
    --orange-2: #FFE4BA;
    --orange-3: #FFCF8B;
    --orange-4: #FFB65D;
    --orange-5: #FF9A2E;
    --orange-6: #FF7D00;
    --orange-7: #D25F00;
    --orange-8: #A64500;
    --orange-9: #792E00;
    --orange-10: #4D1B00;

    --gold-1: #FFFCE8;
    --gold-2: #FDF4BF;
    --gold-3: #FCE996;
    --gold-4: #FADC6D;
    --gold-5: #F9CC45;
    --gold-6: #F7BA1E;
    --gold-7: #CC9213;
    --gold-8: #A26D0A;
    --gold-9: #774B04;
    --gold-10: #4D2D00;

    --yellow-1: #FEFFE8;
    --yellow-2: #FEFEBE;
    --yellow-3: #FDFA94;
    --yellow-4: #FCF26B;
    --yellow-5: #FBE842;
    --yellow-6: #FADC19;
    --yellow-7: #CFAF0F;
    --yellow-8: #A38408;
    --yellow-9: #785D03;
    --yellow-10: #4D3800;

    --lime-1: #FCFFE8;
    --lime-2: #EDF8BB;
    --lime-3: #DCF190;
    --lime-4: #C9E968;
    --lime-5: #B5E241;
    --lime-6: #9FDB1D;
    --lime-7: #7EB712;
    --lime-8: #5F940A;
    --lime-9: #437004;
    --lime-10: #2A4D00;

    --green-1: #E8FFEA;
    --green-2: #AFF0B5;
    --green-3: #7BE188;
    --green-4: #4CD263;
    --green-5: #23C343;
    --green-6: #00B42A;
    --green-7: #009A29;
    --green-8: #008026;
    --green-9: #006622;
    --green-10: #004D1C;

    --cyan-1: #E8FFFB;
    --cyan-2: #B7F4EC;
    --cyan-3: #89E9E0;
    --cyan-4: #5EDFD6;
    --cyan-5: #37D4CF;
    --cyan-6: #14C9C9;
    --cyan-7: #0DA5AA;
    --cyan-8: #07828B;
    --cyan-9: #03616C;
    --cyan-10: #00424D;

    --blue-1: #E8F7FF;
    --blue-2: #C3E7FE;
    --blue-3: #9FD4FD;
    --blue-4: #7BC0FC;
    --blue-5: #57A9FB;
    --blue-6: #3491FA;
    --blue-7: #206CCF;
    --blue-8: #114BA3;
    --blue-9: #063078;
    --blue-10: #001A4D;

    --arcoblue-1: #E8F3FF;
    --arcoblue-2: #BEDAFF;
    --arcoblue-3: #94BFFF;
    --arcoblue-4: #6AA1FF;
    --arcoblue-5: #4080FF;
    --arcoblue-6: #165DFF;
    --arcoblue-7: #0E42D2;
    --arcoblue-8: #072CA6;
    --arcoblue-9: #031A79;
    --arcoblue-10: #000D4D;

    --purple-1: #F5E8FF;
    --purple-2: #DDBEF6;
    --purple-3: #C396ED;
    --purple-4: #A871E3;
    --purple-5: #8D4EDA;
    --purple-6: #722ED1;
    --purple-7: #551DB0;
    --purple-8: #3C108F;
    --purple-9: #27066E;
    --purple-10: #16004D;

    --pinkpurple-1: #FFE8FB;
    --pinkpurple-2: #F7BAEF;
    --pinkpurple-3: #F08EE6;
    --pinkpurple-4: #E865DF;
    --pinkpurple-5: #E13EDB;
    --pinkpurple-6: #D91AD9;
    --pinkpurple-7: #B010B6;
    --pinkpurple-8: #8A0993;
    --pinkpurple-9: #650370;
    --pinkpurple-10: #42004D;

    --magenta-1: #FFE8F1;
    --magenta-2: #FDC2DB;
    --magenta-3: #FB9DC7;
    --magenta-4: #F979B7;
    --magenta-5: #F754A8;
    --magenta-6: #F5319D;
    --magenta-7: #CB1E83;
    --magenta-8: #A11069;
    --magenta-9: #77064F;
    --magenta-10: #4D0034;

    --gray-1: #f7f8fa;
    --gray-2: #f2f3f5;
    --gray-3: #e5e6eb;
    --gray-4: #c9cdd4;
    --gray-5: #a9aeb8;
    --gray-6: #86909c;
    --gray-7: #6b7785;
    --gray-8: #4e5969;
    --gray-9: #272e3b;
    --gray-10: #1d2129;

}

@media(prefers-color-scheme: dark) {
    :root {
        --red-1: #4D000A;
        --red-2: #770611;
        --red-3: #A1161F;
        --red-4: #CB2E34;
        --red-5: #F54E4E;
        --red-6: #F76965;
        --red-7: #F98D86;
        --red-8: #FBB0A7;
        --red-9: #FDD1CA;
        --red-10: #FFF0EC;

        --orangered-1: #4D0E00;
        --orangered-2: #771E05;
        --orangered-3: #A23714;
        --orangered-4: #CC5729;
        --orangered-5: #F77E45;
        --orangered-6: #F9925A;
        --orangered-7: #FAAD7D;
        --orangered-8: #FCC6A1;
        --orangered-9: #FDDEC5;
        --orangered-10: #FFF4EB;

        --orange-1: #4D1B00;
        --orange-2: #793004;
        --orange-3: #A64B0A;
        --orange-4: #D26913;
        --orange-5: #FF8D1F;
        --orange-6: #FF9626;
        --orange-7: #FFB357;
        --orange-8: #FFCD87;
        --orange-9: #FFE3B8;
        --orange-10: #FFF7E8;

        --gold-1: #4D2D00;
        --gold-2: #774B04;
        --gold-3: #A26F0F;
        --gold-4: #CC961F;
        --gold-5: #F7C034;
        --gold-6: #F9CC44;
        --gold-7: #FADC6C;
        --gold-8: #FCE995;
        --gold-9: #FDF4BE;
        --gold-10: #FFFCE8;

        --yellow-1: #4D3800;
        --yellow-2: #785E07;
        --yellow-3: #A38614;
        --yellow-4: #CFB325;
        --yellow-5: #FAE13C;
        --yellow-6: #FBE94B;
        --yellow-7: #FCF374;
        --yellow-8: #FDFA9D;
        --yellow-9: #FEFEC6;
        --yellow-10: #FEFFF0;

        --lime-1: #2A4D00;
        --lime-2: #447006;
        --lime-3: #629412;
        --lime-4: #84B723;
        --lime-5: #A8DB39;
        --lime-6: #B8E24B;
        --lime-7: #CBE970;
        --lime-8: #DEF198;
        --lime-9: #EEF8C2;
        --lime-10: #FDFFEE;

        --green-1: #004D1C;
        --green-2: #046625;
        --green-3: #0A802D;
        --green-4: #129A37;
        --green-5: #1DB440;
        --green-6: #27C346;
        --green-7: #50D266;
        --green-8: #7EE18B;
        --green-9: #B2F0B7;
        --green-10: #EBFFEC;

        --cyan-1: #00424D;
        --cyan-2: #06616C;
        --cyan-3: #11838B;
        --cyan-4: #1FA6AA;
        --cyan-5: #30C9C9;
        --cyan-6: #3FD4CF;
        --cyan-7: #66DFD7;
        --cyan-8: #90E9E1;
        --cyan-9: #BEF4ED;
        --cyan-10: #F0FFFC;

        --blue-1: #001A4D;
        --blue-2: #052F78;
        --blue-3: #134CA3;
        --blue-4: #2971CF;
        --blue-5: #469AFA;
        --blue-6: #5AAAFB;
        --blue-7: #7DC1FC;
        --blue-8: #A1D5FD;
        --blue-9: #C6E8FE;
        --blue-10: #EAF8FF;

        --arcoblue-1: #000D4D;
        --arcoblue-2: #041B79;
        --arcoblue-3: #0E32A6;
        --arcoblue-4: #1D4DD2;
        --arcoblue-5: #306FFF;
        --arcoblue-6: #3C7EFF;
        --arcoblue-7: #689FFF;
        --arcoblue-8: #93BEFF;
        --arcoblue-9: #BEDAFF;
        --arcoblue-10: #EAF4FF;

        --purple-1: #16004D;
        --purple-2: #27066E;
        --purple-3: #3E138F;
        --purple-4: #5A25B0;
        --purple-5: #7B3DD1;
        --purple-6: #8E51DA;
        --purple-7: #A974E3;
        --purple-8: #C59AED;
        --purple-9: #DFC2F6;
        --purple-10: #F7EDFF;

        --pinkpurple-1: #42004D;
        --pinkpurple-2: #650370;
        --pinkpurple-3: #8A0D93;
        --pinkpurple-4: #B01BB6;
        --pinkpurple-5: #D92ED9;
        --pinkpurple-6: #E13DDB;
        --pinkpurple-7: #E866DF;
        --pinkpurple-8: #F092E6;
        --pinkpurple-9: #F7C1F0;
        --pinkpurple-10: #FFF2FD;

        --magenta-1: #4D0034;
        --magenta-2: #770850;
        --magenta-3: #A1176C;
        --magenta-4: #CB2B88;
        --magenta-5: #F545A6;
        --magenta-6: #F756A9;
        --magenta-7: #F97AB8;
        --magenta-8: #FB9EC8;
        --magenta-9: #FDC3DB;
        --magenta-10: #FFE8F1;

        --gray-10: #f7f8fa;
        --gray-9: #f2f3f5;
        --gray-8: #e5e6eb;
        --gray-7: #c9cdd4;
        --gray-6: #a9aeb8;
        --gray-5: #86909c;
        --gray-4: #6b7785;
        --gray-3: #4e5969;
        --gray-2: #272e3b;
        --gray-1: #1d2129;

    }
}