/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */

*[var='nameFormatEnum'] #breadcrumbs {
    /* 中间有一层 <bbdata:constants/> 导致 body 的 flex 布局无法继承 */
    margin-top: 0;
}

#containerdiv form table.inventory {
    background-color: var(--c-card);
}

#conferenceFormId th,
#conferenceFormId td {
    vertical-align: middle !important;
}

#conferenceFormId th {
    background-color: var(--c-card);
}

.inventory > tbody tr {
    background: var(--c-card) !important;
}

.inventory > tbody tr td,
.inventory > tbody tr th,
.inventory > thead tr th,
.splashTable thead tr th {
    border-color: var(--c-border) !important;
}

table.inventory > tbody tr:last-child td,
table.inventory > tbody tr:last-child th {
    border-bottom: 1px solid var(--c-border) !important;
}

.inventory > tbody .gray td,
.inventory > tbody .gray th {
    background-color: var(--c-hover) !important;
}

table.inventory a.cmimg {
    display: none;
}

table.inventory .vtbegenerated tbody tr td,
table.inventory .vtbegenerated tbody tr th,
table.reorderable .vtbegenerated tbody tr td,
table.reorderable .vtbegenerated tbody tr th,
table.inventory .vtbegenerated tbody tr:hover td,
table.inventory .vtbegenerated tbody tr:hover th,
table.reorderable .vtbegenerated tbody tr:hover td,
table.reorderable .vtbegenerated tbody tr:hover th,
table.reorderable .vtbegenerated tbody tr:hover {
    background: transparent !important;
}

/* table.inventory .gray .vtbegenerated {
    background-color: var(--c-hover) !important;
} */

table.inventory .gray .vtbegenerated tbody tr td,
table.inventory .gray .vtbegenerated tbody tr th,
table.reorderable .gray .vtbegenerated tbody tr td,
table.reorderable .gray .vtbegenerated tbody tr th,
table.inventory .gray .vtbegenerated tbody tr:hover td,
table.inventory .gray .vtbegenerated tbody tr:hover th,
table.reorderable .gray .vtbegenerated tbody tr:hover td,
table.reorderable .gray .vtbegenerated tbody tr:hover th,
table.reorderable .gray .vtbegenerated tbody tr:hover {
    background-color: var(--c-hover) !important;
}

/* table.inventory .vtbegenerated tbody tr, */
table.inventory .vtbegenerated tbody tr:last-child td {
    border-bottom: none !important;
}

table.inventory .unread-count:not(.none) {
    color: #fff !important;
    background: #e44c47 !important;
}
table.inventory .unread-count.none {
    background: transparent !important;
    color: var(--c-text) !important;
}

/* @media (prefers-color-scheme: dark){

} */

#containerdiv.container {
    border: 1px solid var(--c-border) !important;
    background-color: var(--c-card);
}

.inventory > thead tr th.sorted,
th.sorted,
.splashTable thead tr th.sorted {
    background-color: var(--c-card) !important;
    color: var(--c-text) !important;
}

.inventory > thead tr th.sorted a {
    color: var(--c-text) !important;
}

.genericButton,
.genericButtonImg,
input[type='submit'].genericButton,
.browse,
.browseIcon,
.rumble h3 + ul > li > a,
.rumble h3 + ul > li > a,
.rumble_top h3 + ul > li > a,
.rumble_top h3 + ul > li > a,
.paging a,
.itemHeaderControl > a,
.actionMenuButton,
.button-3,
.button-3-img,
.button-4,
.button-4-img,
#toolsSearchBox + .button-4,
.treeContainer .tree li a.button-4-img,
.rumble a,
.rumble_top a,
.rumble .abutton,
.rumble_top .abutton {
    background: var(--c-button) !important;
    box-shadow: none !important;
}

.nav .sub ul,
.nav.gb_currView .sub > ul,
.menumini ul,
.quickAddPal,
.keyboardAccess,
span.currentTags,
.liveArea,
.liveArea-slim,
.previewArea,
.jumptopage,
.panelTabs li.active a.edit,
.panelTabs li.active a.edit:hover,
.panelTabs li.active a.edit:focus,
.flyout,
.bcContent .flyout,
ul.tree li a + img + a:focus,
ul.tree li img + img + a:focus,
div.treeContainer ul.tree li a.itemActive,
#learningUnitToc ul.tree li a.itemActive,
ul.tree li a.itemActive,
#loginLang ul,
.unread-posts,
.need-moderation,
.unread-replies-to-me-posts {
    background: var(--c-button) !important;
    border: 1px solid var(--c-border) !important;
    border-radius: 5px;
}

.thread-detail-page .contentBox {
    background: var(--c-background);
    /* padding-bottom: 30px; */
}
.db-message-wrapper {
    box-shadow: none;
    background: var(--c-card);
    border: 1px solid var(--c-border) !important;
    border-radius: 5px;
}

.reply-lvl-0 .message-wrapper-inner,
.db-head-message .message-wrapper-inner {
    background: var(--c-card);
    border: none !important;
    box-shadow: none;
}
.db-reply-block,
.reply-lvl-0 .messageTemplate {
    /* border: 1px solid var(--c-border); */
    border: none;
    /* border-radius: 5px; */
    box-shadow: none;
    background: var(--c-card);
}

.db-collapse-control {
    display: none;
}

.reply-lvl-0 .threadButtons .browse,
.threadButtons .browse,
.threadButtons .reply {
    background: var(--c-button) !important;
    border: 1px solid var(--c-border) !important;
    border-radius: 5px !important;
    width: fit-content;
    height: 100%;
    display: block;
    margin: 0;
}

.threadButtons {
    display: flex !important;
    flex-direction: row;
    width: fit-content;
    gap: 5px;
}

/* 消息内页头像 */
.db-message .profileCardAvatarThumb img {
    height: 64px;
    width: 64px;
    border: 1px solid var(--c-border) !important;
    display: inline-block;
    padding: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 10px;
    box-shadow: none;
    background: transparent;
}

.db-message-wrapper .profileCardAvatarThumb {
    color: var(--c-title) !important;
}

/* 外部 table 头像 */
.profileCardAvatarThumb img {
    box-shadow: none;
    background: transparent;
    border: 1px solid var(--c-border) !important;
}

img[src='/images/ci/ng/default_profile_avatar.svg'] {
    content: var(--i-student) !important;
}

.msg-fringe.db-message-fringe-show {
    display: none;
}

#inlinePost {
    margin-top: 30px;
}

.steptitle,
div[id*='step'],
div[id*='Step'],
#dataCollectionContainer,
.container {
    background: var(--c-card);
}

div[id*='stepcontent'] {
    background: var(--c-card) !important;
}

input[type='text'],
input[type='password'],
select {
    border: 1px solid var(--c-border) !important;
    background: var(--c-card) !important;
}

@media screen and (prefers-color-scheme: dark) {
    .tox.tox-tinymce {
        -webkit-filter: invert(100%) hue-rotate(180deg);
        filter: invert(100%) hue-rotate(180deg);
    }
    .tox.tox-tinymce svg {
        -webkit-filter: invert(100%) hue-rotate(180deg);
        filter: invert(100%) hue-rotate(180deg);
    }
}

.taskbuttondiv_wrapper {
    background: var(--c-card);
}

#bottom_submitButtonRow {
    display: flex;
    gap: 10px;
}

/* 全局按钮样式更改 */
form[id='inlineMessageForm'] a#submissionLink,
form[id='inlineMessageForm'] input[type='file'],
form[id='inlineMessageForm'] input[type='button'] {
    border-radius: 5px;
    background: var(--c-button);
    box-shadow: none;
    color: var(--c-text);
    font-size: 12px;
}

form[id='inlineMessageForm'] a#submissionLink:hover,
form[id='inlineMessageForm'] input[type='file']:hover,
form[id='inlineMessageForm'] input[type='button']:hover {
    background: var(--gray-2);
    color: var(--c-title);
    font-weight: bold;
}

/* 提交按钮特判 */
form[id='inlineMessageForm'] input[type='submit'].submit {
    border-radius: 5px;
    background: var(--c-primary-light);
    box-shadow: none;
    color: var(--c-primary);
    font-size: 12px;
}

form[id='inlineMessageForm'] input[type='submit'].submit:hover {
    background: var(--blue-2);
    /* box-shadow: none ; */
    color: var(--blue-7);
    font-weight: bold;
}

.nav .sub ul li a,
.cmdiv a,
.menumini a,
#loginLang ul li a {
    color: var(--c-text);
}

/* 创建话题 */
div[id*='step'],
.submittitle,
#infoStep,
#taskStatusStep,
#linkedContentStep {
    border: none !important;
}

div[id*='stepcontent'] {
    border: none !important;
}

h3.steptitle,
span.reqfield {
    display: none !important;
}

.submitStepTop:has(span.reqfield:only-child) {
    height: 20px !important;
}

input[type='text'][name='title'] {
    width: 100%;
}

input[type='checkbox'] {
    /* 移除默认样式 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* 自定义样式 */
    width: 16px;
    height: 16px;
    background-color: var(--c-card); /* 自定义背景色 */
    border: 1px solid var(--c-border);
    border-radius: 3px;
}

/* 选中状态样式 */
input[type='checkbox']:checked {
    background-color: var(--c-accent); /* 选中时的背景色 */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z'/%3E%3C/svg%3E");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

/* 整个滚动条 */
.vtbegenerated::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* 滚动条轨道 */
.vtbegenerated::-webkit-scrollbar-track {
    background-color: transparent;
}

.vtbegenerated::-webkit-scrollbar {
    height: 5px;
}

/* 滚动条滑块 */
.vtbegenerated::-webkit-scrollbar-thumb {
    background-color: var(--c-scrollbar);
    border-radius: 9999px;
}

/* icon */
.author_props .highlight-pop {
    background: var(--i-verified);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

img[src='../images/paperclip.png'] {
    /* content: var(--i-file); */
    display: none;
}

img[src='/images/ci/ng/cal_year_event.gif'] {
    content: var(--i-file);
}

.dbAttachment {
    border: 1px solid var(--c-border);
    border-radius: 5px;
    width: fit-content;
    padding: 3px 5px;
}

.dbAttachment img {
    width: 20px;
    height: 20px;
}

.dbAttachment:hover {
    background-color: var(--c-hover);
}

.navigationBar div > button {
    border: 1px solid var(--c-border);
    display: inline-block;
    box-shadow: none;
    background: var(--c-button);
    border-radius: 3px;
    color: var(--c-text);
    text-shadow: none;
    margin: 0px;
    padding: 0px;
}

a.reply-count-link {
    bottom: 3px;
    position: absolute;
    background: transparent;
    display: block;
    border-radius: 3px !important;
    border: 1px solid var(--c-border) !important;
}

.db_msg_metadata,
.reply-lvl-0 .db_msg_metadata {
    border: 1px solid var(--c-border) !important;
    box-shadow: none;
    background: var(--c-card);
    border-radius: 0 0 0 2px;
    line-height: 1.5;
    top: 3px;
    right: 3px;
    min-width: 140px;
    text-align: right;
}

#actionbar {
    top: 100px;
    right: 30px;
    box-shadow: none;
    opacity: 1 !important;
    background: transparent !important;
    border-bottom: none !important;
}

.collapsedMessage .db-message .profileCardAvatarThumb:after {
    display: none;
}

.thread-detail-page #actionbar .mainButton > a,
.thread-detail-page #actionbar .secondaryButton > a {
    color: var(--c-text) !important;
}

.thread-detail-page #actionbar .mainButton > a:hover,
.thread-detail-page #actionbar .secondaryButton > a:hover {
    background: var(--c-hover) !important;
}

.thread-detail-page #navsecondary a#refreshTreeActionButtonId:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: var(--i-refresh);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.thread-detail-page #navsecondary #searchActionButtonId a:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: var(--i-search);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img[src='/images/ci/actionbar/flag.gif'] {
    display: none;
}

img[src='/images/ci/ng/sort_on2.gif'] {
    content: var(--i-arrow);
    width: 16px;
    height: 16px;
}
img[src='/images/ci/ng/sort_on_up2.gif'] {
    content: var(--i-arrow);
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
}
