/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
@import 'arco-palette.css';
@import 'main.css';

/* 移除Content边框 */
#containerdiv {
    border: none;
}

/* form卡片样式 */
.container > form {
    background: var(--c-card);
    border-radius: 5px;
    border: 1px solid var(--c-border);
    padding: 10px;
}

.container > form * {
    background: var(--c-card);
    color: var(--c-text);
    font-style: normal;
    font-family: sans-serif;
}
/* 提示文本的颜色修改 */
.container > form #instructions *[style*='color'] {
    color: var(--c-text) !important;
    background: transparent !important;
    background: linear-gradient(180deg, transparent 90%, var(--red-2) 90%) !important;
}
#dataCollectionContainer,
#dataCollectionContainer > div {
    background: var(--c-card);
}

/* 顶部空白 不知道干啥 暂且不动 */
/* #dataCollectionContainer>.submitStepTop {
} */

/* 各步骤布局 */
#dataCollectionContainer > div[id^='step'] {
    border-top: none;
    background: var(--c-card) !important;
    padding-bottom: 16px;
}

/* 步骤标题 */
#dataCollectionContainer > div[id^='step'] > .steptitle {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--c-title);
}

/* 边框 */
div[id*='stepcontent'] {
    border-bottom: 1px solid var(--c-border);
    background: var(--c-card) !important;
}

/* 作业信息引用着色 */
#metadata div.metaSection {
    border: none;
    border-left: 6px solid var(--cyan-6);
    background: var(--cyan-2) !important;
}

#metadata div[class*='meta'],
#metadata div[class*='meta'] span.metaSubInfo {
    background: transparent;
}

#metadata div.metaField {
    color: var(--cyan-8);
    font-size: 16px;
}

/* 全局按钮样式更改 */
form[name='uploadAssignmentForm'] a#submissionLink,
form[name='uploadAssignmentForm'] input[type='file'],
form[name='uploadAssignmentForm'] input[type='button'] {
    border-radius: 5px;
    background: var(--c-button);
    box-shadow: none;
    color: var(--c-text);
}

form[name='uploadAssignmentForm'] a#submissionLink:hover,
form[name='uploadAssignmentForm'] input[type='file']:hover,
form[name='uploadAssignmentForm'] input[type='button']:hover {
    background: var(--gray-2);
    color: var(--c-title);
    font-weight: bold;
}

/* 提交按钮特判 */
form[name='uploadAssignmentForm'] input[type='submit'].submit {
    border-radius: 5px;
    background: var(--c-primary-light);
    box-shadow: none;
    color: var(--c-primary);
}

form[name='uploadAssignmentForm'] input[type='submit'].submit:hover {
    background: var(--blue-2);
    /* box-shadow: none ; */
    color: var(--blue-7);
    font-weight: bold;
}

/* 步骤布局 */
form[name='uploadAssignmentForm'] ol[role='presentation'] > li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    border: 2px solid transparent;
    margin: 10px;
}

/* 标签统一宽度 */
form[name='uploadAssignmentForm'] ol[role='presentation'] > li div.label {
    width: 40px;
    min-width: none;
    max-width: none;
}

/* 文件上传区域样式修改 */
form[name='uploadAssignmentForm'] ol[role='presentation'] > li.dropzone {
    border: 2px dashed var(--c-border) !important;
}

form[name='uploadAssignmentForm'] ol[role='presentation'] > li.dropzone.hover {
    background: var(--c-hover) !important;
}

form[name='uploadAssignmentForm'] ol[role='presentation'] > li.dropzone div,
form[name='uploadAssignmentForm'] ol[role='presentation'] > li.dropzone label {
    background: transparent;
}

/* 上传文件列表 */
form[name='uploadAssignmentForm'] #newFile_table * {
    border-color: var(--c-border) !important;
}

form[name='uploadAssignmentForm'] #newFile_table img {
    /* content: var(--i-file);
    height: 15px; */
    display: none;
}

form[name='uploadAssignmentForm'] li#newFile_listHtmlDiv {
    margin-top: 30px !important;
}

/* 注释区样式 */
form[name='uploadAssignmentForm'] table.mceLayout {
    border: 1px solid var(--c-border) !important;
    border-radius: 5px;
    padding: 5px;
}

form[name='uploadAssignmentForm'] table.mceLayout * {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}

/* 聚焦提示下属margin */
form[name='uploadAssignmentForm'] .vtbehelp {
    margin-bottom: 5px;
}

form[name='uploadAssignmentForm'] .mceFirst:hover,
form[name='uploadAssignmentForm'] .mceLast:hover {
    background: transparent;
}

/* 语法检查按钮 */
form[name='uploadAssignmentForm'] .defaultSkin .mceSplitButton span.mceAction {
    background-image: var(--i-check);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/* 语法检查下拉选择框 */
form[name='uploadAssignmentForm'] div[role='listbox'] {
    background: var(--c-card);
    border: 1px solid var(--c-border);
    border-radius: 5px;
    padding: 5px;
    box-shadow: var(--c-box-shadow);
}

form[name='uploadAssignmentForm'] div[role='listbox'] * {
    border: none !important;
}

form[name='uploadAssignmentForm'] .defaultSkin .mceMenu {
    top: 0;
    left: 0;
    position: relative;
}

.defaultSkin .mceMenu table,
.defaultSkin .mceMenuItemTitle a {
    background: var(--c-card);
}

.defaultSkin .mceMenu .mceMenuItemEnabled a:hover,
.defaultSkin .mceMenu .mceMenuItemActive {
    background: var(--c-hover);
}

/* 作业复查界面 */
#inlineReceipt_good {
    background: var(--c-accent);
}
#inlineGrader {
    border: 1px solid var(--c-border);
    border-radius: 5px;
    /* padding: 0 5px; */
    background: var(--c-card);
}

#inlineGrader * {
    color: var(--c-text);
    border: none;
    box-shadow: none;
    background: transparent;
    text-decoration: none;
    line-height: 1.6;
}

#inlineGrader .fileTile {
    background: var(--c-card) !important;
}

#inlineGrader .fileTile > img {
    content: var(--i-file);
    width: 50px;
    height: 50px;
}

#inlineGrader .fileTile > h5 {
    color: var(--c-title);
}

#inlineGrader .fileTile > a {
    background: var(--c-button);
    border-radius: 5px;
}

#inlineGrader .fileTile > a:hover {
    background: var(--cyan-2);
    color: var(--c-title);
    font-weight: bold;
}

#inlineGrader #gradingPanel {
    border-left: 1px solid var(--c-border);
    padding: 15px 0;
}

#inlineGrader #gradingPanel .gradingPanelHeader {
    border-left: 6px solid var(--cyan-5);
    height: auto;
}

#inlineGrader #gradingPanel .gradingPanelHeader h2 {
    margin: 5px 0;
}

#inlineGrader #gradingPanel .gradingPanelHeader span {
    color: var(--c-title);
    font-weight: bold;
    font-size: 16px;
}

#inlineGrader .resizeControls {
    top: 17px;
    border-radius: 5px;
}

#inlineGrader .resizeControls a {
    border-radius: 5px;
}

#inlineGrader .resizeControls a:hover {
    background: var(--c-hover);
}

#inlineGrader .resizeControls #maximizer_btn {
    display: none;
}

#inlineGrader #gradingPanel h3,
#inlineGrader #gradingPanel h4,
#inlineGrader #gradingPanel span.mainLabel {
    color: var(--c-title);
    /* padding-bottom: 5px; */
    font-weight: bold;
    font-size: 14px;
}

#inlineGrader #gradingPanel .attemptHeader {
    background: var(--cyan-2) !important;
}

#inlineGrader #gradingPanel div.attemptHeaderLabel {
    margin-left: 15px;
}

#inlineGrader #gradingPanel .attemptContent .segment {
    margin: 35px 0;
}

#inlineGrader #gradingPanel .genericFile {
    background-image: var(--i-file);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 5px center;
}

#inlineGrader #gradingPanel .filesList .dwnldBtn {
    background-image: var(--i-download);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center center;
}

#inlineGrader #gradingPanel .backLink a {
    background: var(--c-card);
    border-radius: 5px 0 5px 0;
}

#inlineGrader #gradingPanel .backLink a:hover {
    background: var(--c-hover);
}

#inlineGrader div.contentDetailsHeader {
    margin-top: 15px;
}
