/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
/*@import './components/courseHeader.css';*/

body {
    position: relative;
}

/* 全局Container */
/*#containerdiv{*/
/*	border-radius: 5px!important;*/
/*	border:1px solid var(--c-border)!important;*/
/*}*/

.tabWrapper-right,
.bouncer[role='presentation'] {
    width: fit-content;
}

/* .nav-link {
	transform: translateY(-50%);
} */

table.bouncer,
.appTabs td.active,
.appTabs a:hover span,
.appTabs a:focus span {
    border: none;
}

.topTabs .tabWrapper-right {
    height: fit-content;
    padding: 0;
}

/* 课程标题栏 */
#breadcrumbs {
    /* display: inline-block; */
    /* float: right; */
    /* width: 1000px; */
    /* width: 100%; */
    padding: 1.2em 1em 1em 1em;
    box-sizing: border-box;
    height: 80px;
    margin-bottom: 1em;
    margin-top: 60px;
    z-index: 10;
    color: var(--c-title);
    background-color: var(--c-background);
    display: flex;
    text-align: center;
    justify-content: center;
    border: none;
}

#breadcrumbs .coursePath {
    padding: 0;
    margin: 0;
}

#breadcrumbs span {
    font-size: 18pt;
    color: var(--c-title);
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* 置高 */
#globalNavPageContentArea {
    margin-top: 60px;
}

#globalNavPageContentArea,
#globalNavPageContentArea .locationPane,
#contentPanel,
div#content,
div.container {
    height: fit-content !important;
    /* min-height: 100vh; */
}

/* 面板内容样式 */
.locationPane {
    background-color: var(--c-background);
}

.contentPane .shadow {
    border: none;
}

#pageTitleDiv {
    margin: 0 !important;
}

/* 固定最大宽度 */
#content {
    width: min(100%, 1200px);
    margin: 0 auto;
}

/* 动画 */
#contentPanel {
    -webkit-animation: fadeInUpStablePixel 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation-delay: 500ms;
    animation: fadeInUpStablePixel 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.localViewToggle {
    display: none;
}

#pageTitleHeader {
    /*color: var(--c-primary);*/
    /*background-color: var(--c-primary-light);*/
    color: var(--blue-7) !important;
    background-color: var(--blue-2);
    padding: 0.3em 1em;
    border-radius: 5px;
    font-size: 20px !important;
}

#pageTitleHeader * {
    color: var(--blue-7) !important;
}

#pageTitleText {
    font-weight: bold;
}

.mybb-tools li a:focus,
.mybb-tools li a:focus img {
    outline: none;
}
