/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */

/* 重置公告样式 */
#containerdiv,
#announcementList {
    border: none;
}

#announcementList > li {
    border: 1px solid var(--c-border);
    background: var(--c-card);
    margin-bottom: 2em;
    border-radius: 5px;
    position: relative;
}

#announcementList > li > h3:first-child {
    color: var(--c-title) !important;
    font-size: 18px;
}

#announcementList > li > .announcementInfo {
    position: absolute;
    top: 50px;
    left: 30px;
    height: 60px;
    border: none;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: flex-start;
    padding: 0;
    margin-top: 5px;
}

#announcementList > li > .announcementInfo > p {
    display: inline;
    width: fit-content;
    height: fit-content;
    border-radius: 1000px;
    border: 1px solid var(--c-border);
    background-color: var(--c-label);
    padding: 0.2em 1em;
    color: var(--c-text);
    margin-right: 1em;
}

#announcementList > li > .announcementInfo > p > span {
    display: none;
}

#announcementList > li > .details {
    margin: 0;
    margin-top: 40px;
}

#announcementList > li > .details * {
    font-family: inherit !important;
    color: var(--c-text) !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-size: 14px !important;
    line-height: 1.6;
}

#announcementList > li > .details *[style*='background-color'],
#announcementList > li > .details *[style*='text-decoration'] {
    background-color: transparent !important;
    background: linear-gradient(180deg, transparent 90%, var(--red-2) 90%) !important;
}
#announcementList > li > .details *[style*='text-decoration-style: initial;']:not([style*='background-color']) {
    background: none !important;
}
/* #announcementList>li>.details strong {
    padding: 0 0.4em;
    background-color: var(--c-label);
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 3px;
} */

#announcementList > li > .details strong {
    color: var(--c-accent) !important;
    font-weight: normal;
}

#announcementList > li > .details a {
    color: var(--c-accent) !important;
    background: linear-gradient(180deg, transparent 90%, var(--c-link) 90%) !important;
}

#announcementList > li > .details a:hover {
    background: linear-gradient(180deg, var(--c-hover) 90%, var(--c-link) 90%) !important;
}

/* #announcementList>li>.details a[value]:before {
    display: inline-block;
    content: "";
    background: url('/css/src/link.svg');
    background-size: 100%;
    background-position: center center;
    width: 20px;
    height: 19px;
    background-repeat: no-repeat;
} */
#announcementList > li > .details > p:first-child span {
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

#announcementList > li > .details > p:first-child span:before {
    content: '';
    display: inline-block;
    background: var(--i-watch);
    margin-right: 1em;
    background-size: 100%;
    background-position: center center;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
