/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
/*@import './components/courseList.css';*/

/*container向上*/

.container {
    margin-top: 0;
    padding-top: 0;
}

/* 移除原有搜索栏（基本用不上） */
.searchbar {
    display: none;
}

/* 录播表格限宽 */
#containerdiv {
    width: inherit;
}
