/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
/*@import './components/courseHeader.css';*/

/* 限制页面最低高度 */
body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* 移除边框 */
#containerdiv {
    border: none;
}

/* 全局Container */
/*#containerdiv{*/
/*	border-radius: 5px!important;*/
/*	border:1px solid var(--c-border)!important;*/
/*}*/

.tabWrapper-right,
.bouncer[role='presentation'] {
    width: fit-content;
}

/* .nav-link {
	transform: translateY(-50%);
} */

table.bouncer,
.appTabs td.active,
.appTabs a:hover span,
.appTabs a:focus span {
    border: none;
}

.topTabs .tabWrapper-right {
    height: fit-content;
    padding: 0;
}

/* 课程标题栏 */
#breadcrumbs {
    /* display: inline-block; */
    float: right;
    /* width: 1000px; */
    box-sizing: border-box;
    height: 80px;
    margin-bottom: 1em;
    margin-top: 60px;
    z-index: 10;
    color: var(--c-title);
    background-color: var(--c-background);
    display: flex;
    text-align: center;
    justify-content: center;
    border: none;
}

@media (min-width: 1038px) { 
    #breadcrumbs {
        width: calc(100% - min(25%, 300px));
        padding: 1.2em 1em 1em 1em;
    }

    #breadcrumbs .coursePath {
        padding: 0;
        margin: 0;
        border-right: none;
    }
}

@media (max-width: 480px) { 
    #breadcrumbs {
        font-size: 22px;
    }

    .path li.root, .simplePath li {
        padding-right: 0;
        margin-right: 0;
    }

    .coursePath * {
        padding: 0 !important;
        margin: 0 !important;
    }
}

#breadcrumbs .coursePath .courseArrow a {
    height: 1em;
    width: 1em;
    background: var(--i-arrow) no-repeat center center;
    background-size: 100%;
}

@media (max-width: 1037px) { 
    .breadcrumbs {
        position: relative;
        top: 0;
    }

    .breadcrumbs ol li {
        height: auto;
        width: auto;
        overflow-x: auto;
    }
}

body > div.cmdiv {
    border-color: var(--c-border);
    background: var(--c-card);
    max-height: 30em;
    width: 20em;
    overflow: hidden auto;
    border-radius: 0.6em;
    padding: 0.5em;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 
                0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* 每个小的 section（最近访问...） */
body > div.cmdiv ul {
    width: 100%;
    padding: 0.6em 0;
    margin: 0;
    border-top: var(--c-border) solid 1px;
}

/* close btn */
body > div.cmdiv ul:first-child {
    display: none;
}

body > div.cmdiv ul:nth-child(2) {
    border-top: none;
    padding-top: 0;
}

body > div.cmdiv ul:last-child {
    padding-bottom: 0;
}

/* 小标题（最近访问...） */
body > div.cmdiv ul li span.labelMenuItem {
    margin-left: 0.6em;
    color: var(--c-title);
}

/* 课程 entry */
body > div.cmdiv ul li a {
    padding: 0.6em;
    color: var(--c-subtitle);
    font-weight: bold;
    font-size: 1rem;
}

body > div.cmdiv ul li a:hover {
    color: var(--blue-5);
    background-color: var(--c-hover);
}

#breadcrumb_controls_id,
#breadcrumbs li:not([class*='coursePath']) {
    display: none;
}

#breadcrumbs span {
    font-size: 18pt;
    color: var(--c-title);
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* 置高 */
#globalNavPageContentArea {
    flex-grow: 1;
}
.locationPane {
    min-height: 100%;
}
#globalNavPageNavArea {
    flex-shrink: 0;
}
/* #globalNavPageContentArea,
#globalNavPageContentArea .locationPane,
#contentPanel,
div#content,
div.container {
    height: fit-content !important;
    min-height: 100vh;
} */
@media (min-width: 1038px) {
nav.navigationPane {
    height: 100%;
    transition: none !important;
}
}

@media (max-width: 1037px) {
    nav.navigationPane {
        height: 100% !important;
        top: 0;
    }
}

nav.navigationPane:after {
    content: 'PKU Art @ Arthals';
    display: block;
    background-color: var(--c-sidebar);
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--c-text);
    height: 20px;
    z-index: 99999;
    opacity: 0.3;
    visibility: visible !important;
    white-space: nowrap;
}

/* 侧栏样式 */
.locationPane nav {
    position: fixed;
    margin-top: 60px;
    z-index: 20;
}

#menuWrap {
    border-right: 1px solid var(--c-border);
}

@media (min-width: 1038px) { 
    .locationPane nav {
        width: min(25%, 300px) !important;
    }
    #menuWrap > #puller {
        display: none;
    }
    /* 禁止左侧边栏收缩 */
    .navcollapsed {
        margin-left: 0;
    }
}

.navcollapsed .menuWrap .menuWrap-inner {
    opacity: 1;
}

/* 侧栏背景 */
.locationPane nav,
#menuWrap,
.menuWrap-inner,
.navPaletteContent,
#courseMenuPalette,
#courseMenuPalette ul,
#courseMenuPalette_contents li,
#courseMenuPalette div.navPaletteContent {
    background-color: var(--c-sidebar) !important;
    border-top: none;
}

#menuWrap .navPalette.tools {
    border-top: none;
}

@media (max-width: 1037px) { 
    #menuWrap > #puller {
        -webkit-tap-highlight-color: transparent;
        background: var(--gray-5);
        border: 1px solid var(--c-border);
        backdrop-filter: blur(8px) saturate(120%);
    }

    #puller.pullcollapsed {
        opacity: 0.6;
        height: 40px;
        width: 40px;
        top: 80px;
        left: -20px;
    }

    #puller.pullcollapsed a:after {
        top: -3px;
        left: 20px !important;
        color: var(--c-navbar);
    }

    #puller:not(.pullcollapsed) {
        opacity: 0.2;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        border-radius: 0;
        z-index: -1;
    }

    #puller:not(.pullcollapsed) a {
        height: 100%;
        width: 100%;
    }

    .menuWrap {
        box-shadow: none;
    }

    #contentPanel {
        position: relative;
        z-index: 0;
    }

    #courseMenuPalette span,
    #courseMenuPalette a {
        top: unset;
        margin-bottom: 0;
        font-weight: normal;
    }

    .listCm .courseMenu a {
        padding-left: 30px;
    }

    .navPalette {
        margin: 0;
    }
}

/* 移除装饰性元素 */
.actionBarMicro,
li.divider,
#copyright,
#menuWrap li > hr {
    display: none !important;
}

/* 选项着色 */
#courseMenuPalette_contents li * {
    color: var(--c-text) !important;
    font-size: 11pt;
}

/* 标题着色 */
#menuWrap .navPaletteTitle a[title] {
    background: none;
    font-size: 12pt;
    font-weight: bold !important;
    color: var(--c-title);
}

#courseMenuPalette_paletteTitleHeading h3 {
    background: none !important;
    border-left: 6px solid var(--c-accent);
}

#menuWrap li a,
#menuWrap li span {
    background: none !important;
}

#menuWrap span {
    color: var(--c-text);
    font-size: 11pt;
}

#menuWrap a[title]:before,
#menuWrap .submenuLink,
#menuWrap .submenuLink_active {
    display: none;
}

#menuWrap h3.navPaletteCol > a {
    border-left: 4px solid var(--c-accent);
    margin-left: 10px;
    padding-left: 16px;
    /* background: var(--c-accent);
    background-size: 2px auto; */
    /* display: none; */
}

/* 侧栏选项 下划线 Hover样式覆盖 */
#menuWrap > .menuWrap-inner a:hover,
#menuWrap > .menuWrap-inner span:not(.reorder):hover {
    color: var(--red-5) !important;
    text-decoration: none;
}

#menuWrap h3 a:hover {
    background-color: var(--c-hover);
    transition: all ease-in-out 0.15s;
}

/* 下划线动画 */
#menuWrap a span {
    /* width: fit-content; */
    display: inline;
    position: relative;
}

#menuWrap a span:nth-child(1):after {
    content: '';
    color: transparent;
    visibility: visible !important;
    position: absolute;
    border-bottom: 2px solid var(--red-5);
    border-radius: 2px;
    bottom: -2px;
    /*border-radius: 2px !important;*/
    /*bottom: -2px;*/
    /*向左偏移隐藏*/
    left: 100%;
    width: 0;
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms;
}

#menuWrap a span:nth-child(1):hover:after {
    visibility: visible !important;
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    transition: width 350ms;
}

.navPalette.tools {
    border: none;
}

/* 面板内容样式 */
#globalNavPageContentArea .locationPane {
    background-color: var(--c-background);
}

.contentPane .shadow {
    border: none !important;
    background-color: var(--c-background);
}

#pageTitleDiv {
    margin: 0 !important;
}

@media (min-width: 1038px) { 
    #contentPanel {
        z-index: 10;
        margin-top: 60px;
        margin-left: min(25%, 300px);
        /* -webkit-animation: fadeInUpStablePixel 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
        animation: fadeInUpStablePixel 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards; */
    }

    /* 固定最大宽度 */
    #content {
        width: min(100%, 1200px);
        margin: 0 auto;
    }



    /* 动画 */
    #contentPanel {
        -webkit-animation: fadeInUpStablePixelForContentBox 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        animation-delay: 500ms;
        animation: fadeInUpStablePixelForContentBox 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    }
}

@media (max-width: 1037px) { 
    #contentPanel {
        margin: 0;
        margin-top: 60px;
    }
}

.localViewToggle {
    display: none;
}

#pageTitleHeader {
    /*color: var(--c-primary);*/
    /*background-color: var(--c-primary-light);*/
    color: var(--blue-7) !important;
    background-color: var(--blue-2);
    padding: 0.3em 1em;
    border-radius: 5px;
    font-size: 20px !important;
}

#pageTitleHeader * {
    color: var(--blue-7) !important;
}

#pageTitleText {
    font-weight: bold;
}

.mybb-tools li a:focus,
.mybb-tools li a:focus img {
    outline: none;
}

/* 独立文件链接，如外接课件打开 */

#pageList a.individualContent-link {
    background-color: transparent !important;
    background: linear-gradient(180deg, transparent 90%, var(--red-2) 90%) !important;
}

#pageList a.individualContent-link span {
    text-decoration: none;
    color: var(--c-text) !important;
}

#pageList .liItem,
#pageList .buildList > li {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--c-border);
    width: fit-content;
    transition: all ease-in 0.15s;
}

#pageList .liItem:hover,
#pageList .buildList > li:hover {
    background: var(--c-hover);
    border: 1px solid var(--c-border);
}

/* 下拉小图标 */
.pageTitle h1 + .contextMenuContainer {
    display: none !important;
}

/* 左侧边栏间距移除 .reorder for 助教页面 */
/* #menuWrap span.reorder {
    position: absolute;
    display: inline !important;
} */

/* 我用不到这个编辑模式，移除 */
/* .ineditmode div.listCm ul.courseMenu li:hover {
    background-color: var(--c-background) !important;
} */

.ineditmode div.listCm ul.courseMenu li {
    border: none !important;
}

#pageList {
    color: var(--c-text);
    line-height: 1.6rem;
}