/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
/*
@import './components/courseList.css';
@import './components/courseTabs.css';
*/
#pageTitleDiv > *:not([id='pageTitleBar']) {
    display: none;
}

#pageTitleDiv {
    color: transparent;
}

#searchForm {
    display: none;
}

.container {
    border: 1px solid var(--c-border);
    background: var(--c-card);
    border-radius: 5px;
}

.container * {
    font-family: inherit !important;
    color: var(--c-text) !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-size: 14px;
    line-height: 1.6;
}

.container .backLink a {
    background: var(--c-card);
}

.container .backLink a:hover {
    background-color: var(--c-hover);
/*container向上*/
}
.container {
    margin-top: 0;
    padding-top: 0;
}

/* 调整按钮样式 */
#nav {
    display: flex;
}

#actionbar {
    border-top: none;
    padding-left: 30px;
}

.mainButton > a {
    border-radius: 5px;
    background: var(--gray-1);
    color: var(--c-text);
}

.pagingprefs > a {
    background: var(--gray-1);
    color: var(--c-text);
    box-shadow: none;
    border-radius: 5px;
}

.inventory>tbody .gray td,.inventory>tbody .gray th {
    background: var(--c-hover);
}
