/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
@import 'arco-palette.css';
@import 'main.css';

body {
    position: relative;
}

html,
body,
#app {
    background: var(--c-background) !important;
}

.course-info__wrapper {
    /* margin-top: 20px; */
    margin-bottom: 0;
}

.course-info__header {
    display: flex;
    justify-content: center !important;
    align-items: center;
    /* text-align: center; */
}

.course-info__header span {
    font-weight: bold;
    font-size: 18pt;
    color: var(--c-title);
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.course-info__wrapper .course-info__main {
    background: var(--c-card);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--c-border);
}
.course-info__wrapper .course-info__footer {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.course-info__wrapper .course-info__footer button {
    background: var(--c-tip);
    border: none;
    color: var(--c-text);
    margin-left: 0;
    height: 35px;
}

#injectDownloadSwitchArea {
    background: var(--c-tip);
    border: none;
    color: var(--c-text);
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 35px;
    line-height: 14px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    border-image-width: 0;
    transition: 0.1s;
    height: 35px !important;
}

#injectDownloadSwitchArea.safari {
    /* 占据父亲 grid 的 2 列 */
    grid-column: span 2;
}

#injectDownloadSwitch {
    display: none;
}

#injectDownloadSwitch:checked + label {
    background-color: var(--c-tip);
    background-image: var(--i-check-simple);
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
}

label[for='injectDownloadSwitch'] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: var(--c-tip);
    border: 1px solid var(--c-border);
    border-radius: 4px;
}

#injectDownloadSwitchArea.safari label[for='injectDownloadSwitch'] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: var(--c-tip);
    background-image: var(--i-warning);
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
}

label[for='injectDownloadSwitch']:before {
    content: '';
    transition: 0.1s;
}

#injectDownloadTip {
    background: var(--c-tip);
    border: none;
    color: var(--c-text);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    font-weight: bold;
    transition: 0.1s;
    width: fit-content;
    margin-top: 10px;
    /* margin-bottom: -10px; */
    line-height: 1.5rem;
    grid-column: 1 / 4;
    width: 100%;
}

#injectDownloadTip a {
    color: var(--c-accent);
    text-decoration: underline;
}

.course-info__wrapper .course-info__footer button:hover {
    background: var(--cyan-2);
    color: var(--cyan-6);
}

.course-info__wrapper .course-info__footer #injectDownloadUrlInput:hover {
    background: var(--cyan-2);
    color: var(--cyan-6);
    font-weight: bold;
    transition: 0.1s;
}

.course-info__wrapper .course-info__footer #injectDownloadUrlInput:hover::placeholder {
    color: var(--cyan-6);
    transition: 0.1s;
}
