/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
@import 'arco-palette.css';
@import 'main.css';

/* 容器 */
#content,
.container {
    border: none;
    width: auto !important;
}

iframe {
    min-height: 100vh;
    height: fit-content;
}
