/*
 * Author: Arthals
 * Email: zhuozhiyongde@126.com
 * Github: https://github.com/zhuozhiyongde
 * Blog: https://arthals.ink
 */
/*
@import './components/courseTabs.css';
@import './components/courseList.css';
*/
#pageTitleDiv > *:not([id='pageTitleBar']) {
    display: none;
}

#pageTitleDiv {
    color: transparent;
}

/*
#searchForm {
    display: none;
}
*/
.container {
    border: 1px solid var(--c-border);
    background: var(--c-card);
    border-radius: 5px;
}

.container * {
    font-family: inherit !important;
    color: var(--c-text) !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-size: 14px;
    line-height: 1.6;
}

.container .backLink a {
    background: var(--c-card);
}

.container .backLink a:hover {
    background-color: var(--c-hover);
}

.containerOptions {
    font-family: inherit !important;
    color: var(--c-text) !important;
    text-decoration: none !important;
    font-style: normal !important;
    font-size: 14px;
    line-height: 1.6;
}

form#searchForm .col-sm-1{
    width: 100%;
}

input:disabled {
    background: var(--c-card);
    color: var(--gray-4);
}

input {
    background: var(--c-card);
    border: 1px solid var(--c-border) !important;
    border-radius: 5px;
}

input[type="button"]:hover {
    background: var(--c-hover);
}