	/*Programming.pku.edu.cn*/
	body>table {
		box-shadow: 0 16px 48px #e7ebf6 !important;
		background-color: #fff;
		border-radius: 10px !important;
	}
	
	body {
		background: hsla(210, 8%, 51%, .09);
		font: 15pt Arial, sans-serif;
		padding: 10px !important;
	}
	
	.listtable {
		background: #fff;
		border: #fff;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(1) {
		display: none;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(2) {
		text-align: center !important;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png) !important;
		background-size: 120px !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		border-radius: 10px !important;
		padding-top: 5px;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(2)>img {
		visibility: hidden;
	}
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td {
		padding: 10px !important;
		padding-top: 0px !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(1)>.box {
		box-shadow: 0 4px 30px rgba(94, 61, 80, .15);
		border-radius: 5px;
		border: 1px solid #EEE !important;
		background: #fff !important;
		text-align: center !important;
	}
	body>table>tbody>tr>td>table.header>tbody>tr:nth-child(1)>td, body>table>tbody>tr>td>table.footer>tbody>tr:nth-child(1)>td {
		background-color: #9B0100 !important;
	}
	
	body>table>tbody>tr>td>table.header>tbody>tr:nth-child(2) a {
		/*border:1px solid #EEE!important;*/
		padding-left: 3px;
		padding-right: 3px;
	}
	
	table.header {
		background-color: #fff;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody {
		background: #fff;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table {
		border-collapse:separate;
		border-spacing: 10px 10px !important;
	}
	
	.showtable{
		background: #fff;
	}
	.fieldname{
		background: #fff;
		border-left: 3px solid #338;
		font-size: 12pt;
		padding:0px 5px;
	}
	
	
	
	
	
