	/*Programming.pku.edu.cn*/
	body>table>tbody>tr>td, body>table>tbody>tr {
		border-radius: 10px !important;
	}
	
	body>table>tbody {
		box-shadow: 0 16px 48px #e7ebf6 !important;
		background-color: #fff;
		border-radius: 10px !important;
	
	}
	
	body {
		background: hsla(210, 8%, 51%, .09);
		font: 15px Arial, sans-serif;
		padding: 10px !important;
	}
	
	a:hover, a {
		font-family: Arial, Sans-Serif !important;
		text-decoration: none !important;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(1) {
		display: none;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(2) {
		text-align: center !important;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png) !important;
		background-size: 120px !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		border-radius: 10px !important;
		padding-top: 5px;
	}
	
	body>table>tbody>tr>td>table:nth-child(2)>tbody>tr>td:nth-child(2)>img {
		visibility: hidden;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td {
		padding: 10px !important;
		padding-top: 0px !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(1)>.box {
		box-shadow: 0 4px 30px rgba(94, 61, 80, .15);
		border-radius: 5px;
		border: 1px solid #EEE !important;
		background: #fff !important;
		text-align: center !important;
	}
	
	form {
		padding-top: 12px;
		height: 20px !important;
	
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(1)>td:nth-child(1)>form>input:nth-child(1) {
		border-radius: 3px;
		border: 1px solid #EEE !important;
	}
	
	input:not([type="image"]) {
		border: 1px solid #EEE !important;
		background-color: #fff !important;
		border-radius: 3px !important;
		position: relative;
		top: 1px;
		font-size: 8pt;
		/*text-align: center;*/
		height: 20px !important;
		padding: 0px 3px !important;
	}
	
	select {
		appearance: none !important;
		-moz-appearance: none !important;
		-webkit-appearance: none !important;
		height: 20px !important;
		padding-left: 7px !important;
		width: 40px;
		border: 1px solid #EEE !important;
		;
		background: #fff;
	}
	
	table.header {
		background-color: #fff;
	}
	
	body>table>tbody>tr>td>table.header>tbody>tr:nth-child(1)>td, body>table>tbody>tr>td>table.footer>tbody>tr:nth-child(1)>td {
		background-color: #9B0100 !important;
	}
	
	body>table>tbody>tr>td>table.header>tbody>tr:nth-child(2) a {
		/*border:1px solid #EEE!important;*/
		padding-left: 3px;
		padding-right: 3px;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td {
		margin-top: 10px !important;
		box-shadow: 0 4px 30px rgba(94, 61, 80, .15);
		border-radius: 5px;
		border: 1px solid #EEE !important;
		background: #fff !important;
	
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td>table {
		border: #fff;
		padding: 5px;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td>table>tbody>tr:nth-child(1)>td {
		background-color: #fff;
	}
	
	.box_header {
		border-bottom-color: #9B0100 !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td:nth-child(2) {
		visibility: hidden;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table>tbody>tr:nth-child(3)>td>table>tbody>tr:nth-child(2)>td li {
		margin-top: 5px;
	
	}
	
	body>table>tbody>tr>td>table.box {
		box-shadow: 0 4px 30px rgba(94, 61, 80, .15);
		border-radius: 5px;
		border: 0px solid #EEE !important;
		background: #fff !important;
		text-align: center !important;
	
	}
	
	body>table>tbody>tr>td>table.box>tbody>tr:nth-child(1)>td {
		background-color: #D75455;
		border-radius: 5px 5px 0px 0px;
		color: #fff;
		padding-bottom: 5px;
	}
	
	body>table>tbody>tr>td>table.footer>tbody>tr:nth-child(3)>td {
		padding-bottom: 10px;
	}
