	.listtable th, .listtable tr {
		background-color: #fff !important;
	}
	
	tr.fieldname>td {
		background-color: #fff !important;
		color: #9B0100 !important;
	}
	
	tr.fieldname>th>a {
		color: #9B0100 !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table:nth-child(4)>tbody>tr.fieldname {
		border-bottom: 5px solid #9B0100;
		border-bottom-color: #9B0100 !important;
		padding-bottom: 10px !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table.listtable>tbody>tr:nth-child(1)>td {
		background-color: #fff;
		color: #9B0100;
		font-size: 12pt;
		transform: translate(0, 10px)
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table.listtable>tbody>tr:nth-child(1)>td:after {
		content: "";
		color: rgba(0, 0, 0, 0);
		display: block;
		height: 15px;
		margin: 0 auto;
		position: relative;
		bottom: 13px;
		width: 13%;
		background-color: rgba(248, 144, 144, .3);
		border-radius: 50px;
	}
	
	.ide {
		color: rgb(250, 197, 133) !important;
	}
	
	body>table>tbody>tr>td>table.pagetable>tbody>tr>td>table.showtable>tbody>tr:nth-child(5)>td {
		border-left: 8px solid #E44C47;
		border-right: 48px solid #fff;
		background-color: #FFD2D3;
		padding-top: 10px;
		padding-left: 15px;
		position: relative;
		left: 20px;
		top: 10px;
		border-radius: 2px;
	}
