	.brandingImgWrap, #global-nav-link, #appTabList>tbody>tr :not(:first-child), .hideoff, #quick_links_wrap, #module\:_735_1, #module\:_1_1>div.edit_controls, #global-nav {
		display: none;
	}
	
	.tabWrapper-right, #globalNavPageNavArea, #topTabs, #contentFrame, #schemePreview, .schemePreviewBody, body, .locationPane {
		background-color: #fff !important;
	}
	
	#topframe\.logout\.label {
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/exit.png);
		background-size: 80%;
		background-color: #fff;
		transform: translate(0, 20px);
	
		background-position: 0% 0% !important;
	}
	
	.global-nav-bar a.logout-link:hover {
		/*background-image: url(https://i.loli.net/2021/11/26/D3s5cLfvtYxMilB.png);*/
		background-position: 0% 0% !important;
	}
	
	.nav-link:hover, .nav-link:focus {
		background: rgba(0, 0, 0, 0);
	}
	
	#我的主页\(MyPage\) {
		border: none;
		transform: translate(-10px, 10px);
	}
	
	#globalNavPageNavArea>table {
		border: none !important;
		height: 100% !important;
	}
	
	#globalNavPageContentArea {
		height: 102% !important;
	}
	
	.locationPane {
		padding: 0;
		height: 100% !important;
	}
	
	#globalNavPageContentArea>div>div, #content, #content>div, #content>div>div, #content>div>div>div {
		height: 100% !important;
	}
	
	#我的主页\(MyPage\)>a span {
		color: #333;
	}
	
	#我的主页\(MyPage\)>a :hover {
		color: #86112E !important;
	}
	
	.container {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	#content>.container {
		border: none;
	}
	
	#column0:before {
		content: "";
		display: block;
		color: rgba(0, 0, 0, 0);
		width: 100%;
		text-align: center;
		height: 80px;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png);
		background-size: 60%;
		background-position: center left;
		background-position-x: 20px;
		background-repeat: no-repeat;
	}
	
	.containerPortal {
		height: 100% !important;
	}
	
	#column0 {
		transform: translate(0, -80px);
		display: block;
		background-color: #F1F0F5;
		height: 100% !important;
		width: 15% !important;
	}
	
	.portlet {
		border: none;
	}
	
	#module\:_726_1 {
		background-color: #F1F0F5;
	}
	
	.portlet h2 {
		font-size: 14pt;
		background-color: #fff;
	
	}
	
	#module\:_726_1 h2 {
		background-color: #F1F0F5;
		font-size: 14pt;
	}
	
	#module\:_726_1 h2:after {
		z-index: 1;
		content: "";
		color: rgba(0, 0, 0, 0);
		visibility: visible;
		display: block;
		height: 10px;
		position: relative;
		top: 5px;
		width: 60px;
		/*background-color: rgba(248, 144, 144, .3);*/
		border-radius: 50px;
		background-color: #E44C47;
	}
	
	.portlet .portletList li {
		border-top: none;
	}
	
	.portlet .portletList li a {
		position: relative;
		color: #6c6c6c;
		font-size: 11pt;
	}
	
	.portlet .portletList li a:after {
		content: "";
		color: rgba(0, 0, 0, 0);
		visibility: visible !important;
		position: absolute;
		border-bottom: 2px solid #E44C47;
		/*border-radius: 2px !important;*/
		bottom: -2px;
		/*向左偏移隐藏*/
		left: 100%;
		width: 0;
		-webkit-transition: width 350ms, left 350ms;
		-moz-transition: width 350ms, left 350ms;
		transition: width 350ms, left 350ms
	}
	
	.portlet .portletList li a:hover {
		color: #86112E;
	}
	
	.portlet .portletList li a:hover:after {
		visibility: visible !important;
		left: 0;
		width: 100%;
		-webkit-transition: width 350ms;
		-moz-transition: width 350ms;
		transition: width 350ms
	}
	
	.portlet .portletList-img>li {
		padding: 5px !important;
		border-radius: 5px;
		border: none;
	}
	
	.portlet .portletList-img>li:hover {
		background-color: #F6F6F6;
	}
	
	.portlet .portletList-img>li a {
		padding-left: 5px;
		color: #82A3AC;
	}
	
	.portlet .portletList-img>li:hover a {
		color: #429EBD;
	}
	
	.collapsible {
		border-top: none;
	}
	
	.portlet .noItems {
		text-align: left;
	}
	
	#column1, #column2 {
		animation: fadeInUp 2000ms cubic-bezier(0.23, 1, 0.32, 1);
		position: relative;
		left: 250px;
	}
	
	#column0 {
		position: fixed;
		animation: fadeInLeft 2000ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	
	@keyframes fadeInUp {
		from {
			opacity: 0;
			color: #fff;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate(0, 100%);
		}
	
		to {
			color: #333;
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}
	
	@keyframes fadeInLeft {
		from {
			opacity: 0;
			color: #fff;
			transform: translate(-100%, -80px);
		}
	
		to {
			color: #333;
			opacity: 1;
			transform: translate(0, -80px);
		}
	}
