	#containerdiv{
		/*width:80%;*/
		/*margin-left:30px;*/
	}
	.searchbar{
		background: #E1E5EA !important;
		color: #47597E !important;
		border-radius: 5px;
		border: none;
		box-shadow: none;
	}
	.searchbar select{
		background:#316B83!important;
		color: #fff;
		text-align: center;
		width: 50px;
		box-shadow: none;
		padding-left:8px;
	}
	select{
		-webkit-appearance:none;
	}
	#search > div > fieldset > div{
		width:80%;
		display: inline-block;
	}
	.genericButton{
		border: none;
		background:#316B83!important;
		box-shadow: none!important;
		color:#fff!important;
		width:50px;
		height: 26px;
		padding:0!important;
		font-size: 14px!important;
		border-radius: 5px;
	}
	tr[id^="listContainer_row"]{
		border: none!important;
		border-radius: 5px;
	}
	tr[id^="listContainer_row"]:hover{
		background: #F6F6F6;
		border-radius: 5px!important;
	}
	.inventory>tbody tr td, .inventory>tbody tr th{
		border-bottom: none;
	}
	.inventory>tbody tr th,.inventory>tbody tr td{
		border-radius: 5px;
	}
	.inventoryListHead th{
		border: none!important;
	}
	.inventory>tbody tr:last-child td, .inventory>tbody tr:last-child th{
		border-bottom: none!important;
	}
	#listContainer_pagingcontrols{
		/*margin-right:100px;*/
	}
	#listContainer_pagingcontrols span:last-child{
		border:none;
	}
