	.bottom, #left, .top, #login_panel>div:nth-child(8)>input.input-btn-row.btn-white {
		display: none;
	}
	
	.mid {
		background-image: none !important;
	}
	
	.single_col_panel {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-171px);
		height: 400px;
		width: 300px !important;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
		background-color: #fff;
		border: 1px solid #EEE;
		background-image: url(https://arthals-1307721114.cos.ap-beijing.myqcloud.com/uPic/PKU_LOGO.png);
		background-size: 50%;
		background-position: top center;
		background-position-y: 25px;
		background-repeat: no-repeat;
		float: none;
		border-radius: 10px;
		margin: 0 auto !important;
		padding: 20px;
		text-align: center;
	}
	
	.single_col_panel div {
		transform: translate(0, 40px);
	}
	
	input[type="submit"] {
		border-radius: 8px;
	}
	
	/*空密码报错隐去*/
	#login_panel>div:nth-child(7) {
		display: none;
	}
	
	#remember_text {
		transform: translate(0, 4px);
	}
	
	#passwd_area:before {
		content: "密码";
		display: block;
		/*font-weight: 800;*/
		/*font-size:16p;*/
		font: bold 13pt arial, sans-serif;
		text-align: left;
		margin-left: 5px;
		margin-bottom: 3px;
		color: #6c6c6c;
	}
	
	#login_panel>div:nth-child(1):before {
		content: "账号";
		display: block;
		height: 25px;
		/*font-weight: 800;*/
		/*font-size:16p;*/
		font: bold 13pt arial, sans-serif;
		text-align: left;
		margin-left: 5px;
		margin-bottom: 3px;
		color: #6c6c6c;
	}
	
	.fa.fa-times-circle, .pad-tip {
		transform: translate(0, 25px);
		color: #6c6c6c;
		font-weight: 100;
	}
	
	input[type="password"]::placeholder, input[type="text"]::placeholder {
		color: rgba(0, 0, 0, 0);
		/*transform: translate(0,-35px);*/
		/*color:#6c6c6c;*/
		/*font-weight: 800;*/
	}
	
	input {
		border-radius: 6px !important;
		/*box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.1);*/
	}
